@media (max-width: 479px)
{
    ._marg
    {
        margin-top: 40px;
    }

    .main-slider__coll
    {
        padding: 12px 4px 12px 16px;
    }

    .main-slider__title
    {
        font-size: 13px;
    }

    .main-slider__img
    {
        width: 49.86%;
    }

    .main-slider__img picture
    {
        padding-bottom: 113.8%;
    }

    .btn-green
    {
        font-size: 12px;
        line-height: 44px;

        padding: 0 18px;
    }

    .btn-green_small
    {
        font-size: 14px;
        line-height: 44px;
    }


    .categories__item
    {
        width: calc(100% / 2 - 16px);
    }

    .main-news__flex .main-news__item
    {
        width: calc(100%  - 16px);
    }

    .main-news__flex .main-news__img
    {
        padding-bottom: 63.878%;
    }

    .pagination-more .btn-bord
    {
        width: 100%;
    }


    .products__grid
    {
        position: relative;

        margin: -20px -20px 0;

        --products_count: 2;
    }

    .products__grid::before
    {
        content: "";

        position: absolute;
        z-index: 12;
        top: 40px;
        left: 50%;

        width: 1px;
        height: calc(100% - 40px);

        pointer-events: none;

        background: rgba(97, 97, 97, .2);
    }

    .products__grid .product
    {
        width: calc(100% / var(--products_count));
        margin: 40px 0 0;

        border-radius: 0;
    }

    .products__grid .product::before
    {
        display: none;
    }

    .products__grid .product__pad
    {
        padding-right: 12px;
        padding-bottom: 0;
        padding-left: 12px;
    }


    .categories-small__grid
    {
        margin-top: -12px;
    }

    .categories-small__item
    {
        width: calc(100% - 16px);
        margin-top: 12px;
        padding: 17px 20px;
    }

    .categories-small__item:nth-child(n + 6)
    {
        display: none;
    }

    .categories-small__item._show
    {
        display: flex;
    }

    .categories-small__item-img
    {
        width: 70px;
        height: 62px;
        margin-right: 20px;
    }


    .filter:not(.filter-big__wrap) .filter__item + .filter__item
    {
        margin-top: 20px;
        padding-top: 19px;
    }

    .filter:not(.filter-big__wrap) .filter__title
    {
        font-size: 14px;
    }

    .filter:not(.filter-big__wrap) .checkbox-slider__text
    {
        font-size: 14px;
    }

    .filter:not(.filter-big__wrap) .checkbox-slider__text-dot
    {
        width: 37px;
        height: 18px;
    }

    .filter:not(.filter-big__wrap) .checkbox-slider__text-dot:after
    {
        width: 14px;
        height: 14px;
    }

    .filter:not(.filter-big__wrap) .filter__bot
    {
        padding-top: 15px;
        padding-bottom: 15px;
    }

    .filter:not(.filter-big__wrap) .filter-use_scroll
    {
        margin-bottom: 15px;
    }

    .filter:not(.filter-big__wrap) .filter__submit.btn-green
    {
        font-size: 13px;

        width: calc(50% - 6px);
    }

    .filter:not(.filter-big__wrap) .filter__reset
    {
        font-size: 13px;

        width: calc(50% - 6px);
    }


    .filter-open
    {
        display: none;
    }

    .filter-open-mob
    {
        position: relative;
        z-index: 5;

        display: block;

        margin-top: 23px;
    }

    .filter-open-mob .filter-open
    {
        display: inline-block;
    }

    .select-sort
    {
        width: 100%;
    }

    .select-sort .nice-select .current
    {
        font-size: 13px;
    }

    .select-sort .nice-select .list .list_item
    {
        font-size: 13px;
    }

    .select-sort .nice-select .list .list_item
    {
        padding-top: 8px;
        padding-bottom: 8px;
    }

    .filter-use_slider
    {
        margin-top: 20px;
    }


    .inner-banner__coll
    {
        padding: 20px 6px 20px 13px;
    }

    .inner-banner__title
    {
        font-size: 12px;
    }

    .inner-banner__img
    {
        width: 57.02%;
    }

    .inner-banner__img picture
    {
        padding-bottom: 64.4%;
    }


    .products__list
    {
        position: relative;

        margin: -20px -20px 0;
    }

    .products__list::before
    {
        content: "";

        position: absolute;
        z-index: 12;
        top: 40px;
        left: 50%;

        width: 1px;
        height: calc(100% - 40px);

        pointer-events: none;

        background: rgba(97, 97, 97, .2);
    }

    .products__list .product
    {
        width: calc(100%/2);
        margin: 40px 0 0;

        border-radius: 0;
    }

    .products__list .product::before
    {
        display: none;
    }

    .products__list .product__pad
    {
        padding: 12px 12px 0;
    }

    .products_grid .product__name,
    .products__list .product__name
    {
        font-size: 14px;
    }

    .products_grid .product__name,
    .products__list .product__review-size,
    .products_grid .product__availability,
    .products__list .product__availability,
    .products_grid .product__review-number,
    .products__list .product__review-number
    {
        font-size: 13px;
    }

    .products_grid .product__review-star,
    .products__list .product__review-star
    {
        width: 15px;
        height: 16px;
        margin-right: 5px;
    }

    .products_grid .product__price,
    .products__list .product__price
    {
        font-size: 15px;
    }

    .product__oldprice
    {
        width: calc(100% - 6px);
    }

    .products_grid .product__btn,
    .products__list .product__btn
    {
        font-size: 13px;
    }

    .main-news__slider._middle .swiper-slide
    {
        width: 251px;
        min-width: calc(100% / 2 - 16px / 2);
    }


    .features_marg
    {
        margin-top: 16px;
    }

    .features__feature
    {
        display: block;
    }

    .features__feature + .features__feature
    {
        margin-top: 6px;
    }

    .features__feature-name
    {
        display: inline;

        width: auto;
        margin-right: 0;
        padding-right: 0;
    }

    .features__feature-name::before
    {
        display: none;
    }

    .features__feature-val
    {
        display: inline;
    }


    .filter-btns
    {
        margin-top: 12px;
    }


    .stock-banner__bg
    {
        padding: 0;
    }

    .stock-banner__desc
    {
        margin-top: 16px;
    }


    .empty-section__bord
    {
        padding-top: 150px;
        padding-bottom: 150px;
    }

    .info-save__btn.btn-bord
    {
        font-size: 12px;
        line-height: 42px;
    }


    .products__bord .products__grid
    {
        margin-top: -40px;
    }


    .section-stock__grid
    {
        margin-top: -30px;
    }

    .section-stock__item
    {
        width: calc(100% - 16px);
        margin-top: 30px;
    }

    .section-stock__item .btn-bord
    {
        width: 100%;
    }


    .video::after
    {
        background-size: 48px auto;
    }


    .contacts__cols
    {
        margin-top: 30px;
    }


    .section-props__table
    {
        display: block;

        border: 1px solid rgba(97, 97, 97, .2);
        border-radius: 10px;
    }

    .section-props__table tr
    {
        display: block;

        padding: 19px;
    }

    .section-props__table tr + tr
    {
        border-top: 1px solid rgba(97, 97, 97, .2);
    }

    .section-props__table td
    {
        display: block;

        width: 100%;
        height: auto;
        padding: 0;

        border: none;
        border-radius: 0;
    }

    .section-props__table .section-props__table-name
    {
        font-size: 14px;

        width: 100%;
    }

    .section-props__table td + td
    {
        padding-top: 9px;
    }


    .gallery-grid
    {
        grid-template-columns: repeat(2, 1fr);
    }

    .gallery-grid__item
    {
        grid-column: span 1;
    }

    .gallery-grid__item:nth-child(n + 4)
    {
        display: none;
    }

    .gallery-grid__item._small
    {
        grid-column: span 1;
    }

    .gallery-grid__item._big
    {
        grid-column: span 2;
        grid-row: span 1;
    }

    .gallery-grid__item a
    {
        padding-bottom: 138%;
    }

    .gallery-grid__item._small a
    {
        padding-bottom: 138%;
    }

    .gallery-grid__item._big a
    {
        padding-bottom: 100.9%;
    }

    .gallery-grid__item a::after
    {
        top: 15px;
        right: 15px;
    }

    .section-gallery .btn-bord
    {
        width: 100%;
    }


    .news-text__aside
    {
        padding: 15px 15px 17px;
    }

    .news-text__top
    {
        display: block;
    }

    .news-text__creator-name
    {
        font-size: 14px;
    }

    .news-text__creator-position
    {
        font-size: 12px;
    }

    .news-text__info
    {
        font-size: 12px;

        display: flex;

        width: 100%;
        margin: 13px 0 0;
        padding: 4px 9px;

        border: 1px solid rgba(0, 118, 87, .2);
        border-radius: 5px;
    }

    .news-text__time
    {
        margin-top: 0;
    }

    .news-text__cats-grid
    {
        margin-left: -6px;
    }

    .news-text__cats-link
    {
        margin: 6px 0 0 6px;
        padding-right: 4px;
        padding-left: 4px;
    }

    .news-text__cats-link:nth-child(n + 4)
    {
        display: none;
    }

    .news-text__cats-link._show
    {
        display: block !important;
    }

    .news-text__cats-more
    {
        color: #007657;
        font-size: 12px;
        line-height: 28px;

        display: block;
        display: block;

        width: 36px;
        margin: 6px 0 0 6px;

        text-align: center;

        border-radius: 3px;
        background: rgba(0, 118, 87, .1);
    }


    .news-small
    {
        margin-top: 20px;
    }

    .news-small__items
    {
        margin-left: 0;
    }

    .news-small__item
    {
        width: 100%;
        margin-left: 0;
    }

    .news-small__item:nth-child(n + 3)
    {
        display: flex;
    }

    .news-small__item:nth-child(n + 4)
    {
        display: none;
    }

    .news-small__more
    {
        width: 100%;
        margin: 20px 0 0;
    }


    .text-block blockquote
    {
        font-size: 16px;
    }


    .news-text .text-block img
    {
        min-height: 244px;
    }


    .compare-products__slider .swiper-slide
    {
        width: 160px;
    }

    .compare-section__slider .swiper-slide
    {
        width: 160px;
    }

    .compare-section__top-left
    {
        width: calc(50% - 16px);
    }

    .compare-products
    {
        width: calc(50% - 16px);
    }

    .compare-feature__coll
    {
        width: calc(50% - 16px);
    }

    .compare-section__slider
    {
        width: calc(50% + 4px);
    }


    .payments-methods__item
    {
        width: calc(100% - 16px);
    }

    .brands__item
    {
        height: 70px;
    }

    .brands__item a
    {
        padding-top: 20px;
        padding-bottom: 20px;
    }


    .all-brands__item
    {
        padding-right: 14px;
        padding-left: 14px;
    }

    .comment__images-img
    {
        width: calc(100% / 6 - 10px);
    }


    .contacts__btn-green
    {
        font-size: 14px;
    }

    .contacts__item-link em
    {
        display: none;
    }

    .contacts__main-title
    {
        margin-bottom: 19px;
    }

    .btn-share span
    {
        padding-right: 42px;
    }

    .contacts__btn.btn-green
    {
        padding-right: 22px;
        padding-left: 22px;
    }


    .about-delivery__top
    {
        flex-wrap: wrap;
    }

    .about-delivery .select-sort
    {
        width: 100%;
        margin: 20px 0 0;
    }


    .major-projects .btn-bord
    {
        width: 100%;
    }


    .cooperation__big
    {
        overflow: hidden;

        padding-right: 0;
    }

    .cooperation__big-coll
    {
        width: calc(100% - 66px);
        padding-bottom: 109px;
    }

    .cooperation__big-img
    {
        justify-content: flex-start;

        width: 259px;
        height: 215px;
        margin: 0 -62px 0 -131px;
        padding-top: 0;
    }

    .founders__item-wrap
    {
        overflow: hidden;

        max-height: 240px;
    }

    .founders__item-wrap._all
    {
        max-height: none;
    }

    .founders__open
    {
        position: relative;

        color: #007657;
        font-size: 12px;

        display: none;

        margin-top: 12px;
        padding-right: 12px;
    }

    .founders__item-wrap._big + .founders__open
    {
        display: inline-block;
    }

    .founders__open span + span
    {
        display: none;
    }

    .founders__open._active span
    {
        display: none;
    }

    .founders__open._active span + span
    {
        display: inline-block;
    }

    .founders__open svg
    {
        position: absolute;
        top: 50%;
        right: 0;

        display: block;

        width: 6px;
        height: 6px;
        margin-top: -2px;

        fill: currentColor;
    }

    .founders__open._active svg
    {
        transform: rotate(180deg);
    }


    .product-info__calculator-item
    {
        flex-wrap: wrap;
    }

    .product-info__calculator-name
    {
        width: 100%;
        margin-bottom: 5px;
    }

    .product-info__calculator-val
    {
        width: 100%;
        margin: 0;
    }

    .product-info__calculator-item_bot
    {
        font-size: 16px;

        display: block;

        padding-top: 20px;
    }

    .product-info__calculator-item_bot .product-info__calculator-name
    {
        display: inline;

        width: auto;
        margin: 0;
    }

    .product-info__calculator-item_bot .product-info__calculator-val
    {
        display: inline;

        width: auto;
        margin: 0;
    }


    .modal-service__top
    {
        padding-right: 20px;
        padding-left: 20px;
    }

    .modal-service__cats
    {
        padding-right: 20px;
        padding-left: 20px;
    }

    .modal-service__cols
    {
        padding: 24px 20px 110px;
    }

    .product-recommends__title
    {
        font-size: 18px;
    }

    .product-recommends__grid
    {
        margin-top: 5px;
    }

    .product-recommends__item
    {
        margin-top: 10px;
    }

    .product-recommends__name
    {
        font-size: 15px;
    }

    .product-recommends__price
    {
        font-size: 18px;
    }

    .modal-service__product
    {
        padding: 20px;
    }

    .modal-service__product-img
    {
        display: none;
    }

    .modal-service__product-btn
    {
        margin-left: 20px;
    }

    .modal-service__product-boy
    {
        font-size: 14px;
    }

    .product-recommends__add
    {
        font-size: 14px;
    }

    .product-info__buy
    {
        font-size: 14px;
    }

    .modal-information__hide
    {
        font-size: 14px;
    }


    .product-fixed__flex
    {
        flex-wrap: nowrap;
    }

    .product-fixed__prices
    {
        flex-wrap: wrap;

        margin-left: -10px;
    }

    .product-fixed__price
    {
        margin-left: 10px;
    }

    .form__submit-btn_big
    {
        font-size: 14px;
    }

    .checkout-table__total-item
    {
        flex-wrap: nowrap;

        width: 100%;
    }

    .checkout-table__total-name
    {
        flex-shrink: 0;

        width: 148px;
        margin-right: 16px;
    }

    .checkout-table__total-val
    {
        margin-left: 0;
    }

    .checkout__marg
    {
        margin-top: 0;
    }

    .delivery__form-date
    {
        max-width: none;
    }

    .delivery__form-flex
    {
        flex-wrap: wrap;
    }

    .delivery__add
    {
        width: auto;
        margin: 10px 0 0;
    }

    .footer_nomarg
    {
        margin-top: 0;
    }

    .lk-user__form-btns .lk-user__form-submit
    {
        font-size: 14px;
    }

    .lk-user
    {
        margin-bottom: -40px;
        padding-bottom: 40px;
    }

    .lk-info__col.lk-info__col_big
    {
        width: calc(100% - 10px);
    }


    .content__order_white
    {
        width: calc(100% + 40px);
        margin-right: -20px;
        margin-left: -20px;

        border-radius: 0;
    }

    .content__order .select-sort
    {
        width: 100%;
    }

    .sorting .checkbox-slider
    {
        margin: 16px 0 0;
    }


    .content__order .tabs__text_small
    {
        font-size: 15px;
    }

    .modal-comment .modal__title
    {
        padding-right: 26px;
    }



    /*------------
		coments
	------------*/

    .section-gray
    {
        padding-bottom: 40px;
    }

    .empty-section__br
    {
        display: inline-block;
    }

    .footer__coll
    {
        width: 100%;
    }

    .footer__logo img
    {
        width: 131px;
    }

    .footer__contacts-val
    {
        display: flex;
        justify-content: flex-start;
        align-content: center;
        align-items: center;
        flex-wrap: wrap;

        margin: 0 0 0 -12px;
    }

    .footer__contacts-phone
    {
        font-size: 16px;
        line-height: 22px;

        margin: 5px 0 0 12px;
    }

    .footer__contacts-phone + .footer__contacts-phone
    {
        margin-left: 12px;
    }

    .footer__socials
    {
        margin: 14px 0 0 -10px;
    }

    .footer__socials-link
    {
        width: 29px;
        height: 30px;
        margin-left: 10px;
    }

    .footer-menu
    {
        width: 100%;
        max-width: none;
        margin-top: 20px;

        border-bottom: 1px solid rgba(97, 97, 97, .1);
    }

    .footer-menu__col
    {
        width: 100%;
        max-width: none;
        margin: 0;
        padding-top: 20px;
        padding-bottom: 20px;

        border-top: 1px solid rgba(97, 97, 97, .1);
    }

    .footer-menu__title
    {
        font-size: 16px;
        line-height: normal;
    }

    .footer-menu__title._sub
    {
        position: relative;

        padding-right: 30px;
    }

    .footer-menu__title-arrow
    {
        position: absolute;
        top: 0;
        right: 0;

        display: flex;
        justify-content: flex-end;
        align-content: center;
        align-items: center;
        flex-wrap: wrap;

        width: 30px;
        height: 100%;
    }

    .footer-menu__title svg
    {
        display: block;

        width: 14px;
        height: 8px;

        transition: stroke .2s linear;

        fill: none;
        stroke: rgba(40, 40, 40, .5);
    }

    .footer-menu__title._active svg
    {
        transform: rotate(180deg);

        stroke: #007657;
    }

    .footer-menu__title a
    {
        display: inline-block;
    }

    .footer-menu__list
    {
        display: none;

        margin-top: 15px;
    }

    .footer-menu__list._show
    {
        display: block;
    }

    .footer-menu__item
    {
        font-size: 16px;
        line-height: normal;
    }


    .footer__colr
    {
        margin-top: 24px;
    }

    .form-subscribe__title
    {
        font-size: 20px;
    }

    .form-subscribe__flex
    {
        padding-right: 0;
    }

    .form-subscribe .form-subscribe__input
    {
        height: 36px;
    }

    .form-subscribe__submit
    {
        display: flex;
        justify-content: center;
        align-content: center;
        align-items: center;
        flex-wrap: wrap;

        width: 36px;
        height: 36px;
        margin-left: 5px;
    }

    .form-subscribe__submit span
    {
        display: none;
    }

    .form-subscribe__submit svg
    {
        display: block;
    }

    .video-banner__flex
    {
        width: 100%;
    }

    .video-banner__info
    {
        width: calc(100% - 70px);
    }

    .production-process__img
    {
        min-height: 322px;
    }


    .production-photos__grid
    {
        margin-top: 16px;

        grid-template-columns: repeat(2, 1fr);
    }


    .videos__video
    {
        flex-wrap: wrap;
    }

    .videos__video-coll
    {
        order: 2;

        width: 100%;
        max-width: none;
        padding-top: 55px;
    }

    .videos__video-colr
    {
        width: 100%;
        max-width: none;
        margin: 0 0 -35px;
        padding: 0 20px;
    }

    .videos__video-img
    {
        padding-bottom: 65.76%;
    }

    .videos__video-info
    {
        width: auto;
        padding-right: 20px;
    }


    .footer__bot
    {
        margin-top: 16px;
    }

    .footer__links
    {
        flex-wrap: wrap;

        margin: -2px 0 0;
    }

    .footer__link
    {
        width: 100%;
        margin: 15px 0 0;
    }


    .modal-cities
    {
        columns: 1;
    }

    .modal-cities__title
    {
        font-size: 20px;
    }

    .modal-cities__link
    {
        font-size: 16px;
    }


    .banner-cooperation__title
    {
        padding-right: 10px;
        padding-left: 10px;
    }
}