@media (max-width: 1599px)
{
    ._marg
    {
        margin-top: 60px;
    }

    .section-top_marg
    {
        margin-bottom: 20px;
    }

    .tabs
    {
        margin-bottom: 14px;
    }

    .header__search
    {
        margin-right: 73px;
    }

    .header__btn + .header__btn
    {
        margin-left: 25px;
    }

    .header__search-submit
    {
        width: 58px;
    }


    .header-catalog__block
    {
        padding: 33px 0;
    }

    .header-catalog__wrap
    {
        margin-left: -10px;
    }

    .header-menu
    {
        width: 28.94%;
    }

    .header-menu__link
    {
        font-size: 16px;

        max-width: calc(100% - 40px);
        padding-right: 10px;
        padding-left: 10px;
    }

    .header-submenu
    {
        left: 28.94%;

        width: 71.06%;
        max-width: none;
        padding-left: 32px;
    }

    .header-submenu__flex
    {
        margin-left: -20px;
    }

    .header-submenu__item
    {
        width: calc(100% / 3 - 20px);
        margin-left: 20px;
    }

    .main-slider__coll
    {
        padding-right: 25px;
        padding-left: 60px;
    }

    .main-slider__img
    {
        width: 56.92%;
    }

    .main-slider .slider-button-prev
    {
        left: 20px;
    }

    .main-slider .slider-button-next
    {
        right: 20px;
    }


    .advantages__items-flex
    {
        padding-right: 0;
        padding-left: 0;
    }

    .slider-button-prev,
    .slider-button-next
    {
        width: 30px;
        height: 30px;
        margin-top: -15px;
    }

    .slider-button-prev svg,
    .slider-button-next svg
    {
        width: 10px;
        height: 10px;
    }

    .products__slider .slider-button-prev
    {
        left: -14px;
    }

    .products__slider .slider-button-next
    {
        right: -14px;
    }

    .product__stickers
    {
        top: 11px;
        left: 7px;

        width: calc(100% - 70px);
    }

    .product__btns
    {
        top: 14px;
        right: 12px;
    }

    .product__pad
    {
        padding-right: 13px;
        padding-left: 13px;
    }

    .product__review
    {
        margin-left: -8px;
    }

    .product__review-flex
    {
        margin-left: 8px;
    }

    .product__review-star
    {
        width: 17px;
        height: 18px;
        margin-right: 5px;
    }

    .product__review-size
    {
        margin-left: 8px;
    }

    .product__availability
    {
        margin-left: 8px;
    }

    .product__buy
    {
        font-size: 12px;
    }

    .product__btn
    {
        font-size: 14px;

        width: 43.315%;
    }

    .news-big__flex
    {
        bottom: 20px;
        left: 20px;

        width: calc(100% - 40px);
    }

    .main-news__img
    {
        padding-bottom: 84.45%;
    }

    .main-news__name
    {
        font-size: 19px;
    }


    .categories__item
    {
        padding-top: 20px;
        padding-bottom: 20px;
    }

    .categories__item-name
    {
        margin-top: 16px;
    }


    .main-news__flex
    {
        margin-top: -60px;
    }

    .main-news__flex .main-news__item
    {
        margin-top: 60px;
    }

    .pagination-more
    {
        margin-top: 30px;
    }


    .checkbox-slider__text
    {
        padding-right: 60px;
    }


    .inner-banner__coll
    {
        padding-right: 20px;
        padding-left: 30px;
    }

    .inner-banner__img
    {
        width: 54.74%;
    }

    .inner-banner__img picture
    {
        padding-bottom: 28.5%;
    }


    .products__list .product__pad
    {
        width: calc(100% - 260px);
    }


    .product-about .main-news__slider._middle
    {
        margin-top: 22px;
    }

    .main-news__slider._middle .main-news__img
    {
        min-height: 246px;
        padding-bottom: 66.94%;
    }

    .categories-btns_marg
    {
        margin-top: 20px;
    }


    .filter-big__title
    {
        font-size: 22px;
    }

    .filter.filter-big__wrap
    {
        width: 100%;
    }

    .filter-big__close
    {
        left: calc(100% - 55px);
    }

    .filter-big__wrap-box
    {
        max-width: none;
    }


    .contacts__coll
    {
        width: 45.6%;
    }

    .contacts__colr
    {
        width: calc(54.4% - 90px);
    }


    .video::after
    {
        background-size: 87px auto;
    }

    .gallery-grid
    {
        margin-top: 20px;
    }


    .news-text__coll
    {
        width: calc(100% - 485px);
    }

    .news-text__colr
    {
        width: 465px;
    }


    .text-block blockquote
    {
        padding-right: 0;
        padding-left: 24px;
    }

    .compare-feature__item + .compare-feature__item
    {
        margin-top: 40px;
    }


    .compare-cats__bord
    {
        padding-bottom: 32px;
    }

    .compare-section_marg
    {
        margin-top: 40px;
    }


    .footer__colr
    {
        width: 502px;
    }
}