@media (max-width: 1319px)
{
    body
    {
        font-size: 13px;
    }

    .text-block h1
    {
        font-size: 22px;

        margin-bottom: 20px;
    }

    .text-block h2
    {
        font-size: 22px;

        margin-bottom: 20px;
    }

    .text-block + h2
    {
        margin-top: 16px;
    }

    .text-block h3
    {
        font-size: 18px;
    }

    .text-block + h3
    {
        margin-top: 16px;
    }

    .text-block p
    {
        margin-bottom: 16px;
    }

    .section-top_marg
    {
        margin-bottom: 16px;
    }

    .main-title
    {
        font-size: 22px;
    }

    .page-title
    {
        font-size: 28px;
    }

    .page-title span
    {
        font-size: 13px;

        margin-left: 30px;
    }

    .content__center .page-title
    {
        margin-bottom: 20px;
    }


    .main-link
    {
        font-size: 14px;
    }

    .btn-green
    {
        font-size: 14px;
        line-height: 44px;

        padding: 0 12px;
    }


    .header__list
    {
        max-width: 362px;
    }

    .header-catalog
    {
        margin-left: 20px;
    }

    .header-catalog__open
    {
        font-size: 14px;

        padding: 0 15px 0 39px;
    }

    .header-catalog__open::before
    {
        left: 12px;
    }

    .header-catalog__open::after
    {
        left: 12px;
    }

    .header__list-item
    {
        font-size: 12px;
        line-height: 28px;
    }

    .header__list-item + .header__list-item
    {
        margin-left: 15px;
    }


    .header__adres-btn
    {
        font-size: 12px;
    }

    .header__contact-text
    {
        font-size: 13px;
    }

    .mini-modal__btn-contact
    {
        font-size: 12px;
    }

    .mini-modal__modal-phones
    {
        width: 150px;
        margin-left: -75px;
    }

    .header__phone
    {
        font-size: 13px;
    }

    .mini-modal__btn-phones
    {
        font-size: 12px;
    }

    .header__mail
    {
        font-size: 12px;
    }

    .header__logo img
    {
        max-width: 115px;
    }

    .header__cats-link
    {
        font-size: 13px;
    }

    .header__cats-icon
    {
        margin-right: 5px;
    }

    .header__info .cont
    {
        align-content: center;
        align-items: center;
    }

    .header__search
    {
        margin-right: 20px;
        margin-left: 10px;
    }

    .header__search .header__search-input
    {
        font-size: 14px;
    }

    .header__bot
    {
        padding-top: 17px;
    }

    .header__btn
    {
        padding: 13px 0 5px;
    }

    .header__btn + .header__btn
    {
        margin-left: 20px;
    }

    .header__btn-icon
    {
        width: 30px;
    }

    .header__btn-number
    {
        margin-left: 3px;
    }

    .header__btn-name
    {
        display: none;
    }

    .header__adres
    {
        margin-right: 15px;
    }

    .header__phones
    {
        margin-left: 15px;
    }

    .header__mail
    {
        margin-left: 15px;
    }


    .header-menu
    {
        width: 35%;
    }

    .header-menu__link
    {
        font-size: 13px;
    }

    .header-catalog__block
    {
        padding: 30px 0;
    }

    .header-submenu
    {
        left: 35%;

        width: 65%;
        padding-left: 40px;
    }

    .header-submenu__title
    {
        font-size: 22px;
    }

    .header-submenu__flex
    {
        margin-top: -6px;
    }

    .header-submenu__item
    {
        width: calc(100% / 2 - 20px);
        margin: 30px 0 0 20px;
    }

    .header-submenu__link
    {
        font-size: 15px;
    }

    .header-submenu__sub-item
    {
        font-size: 15px;
    }

    .header-submenu__sub-more
    {
        font-size: 15px;
    }

    .header-submenu__sub-item ul li
    {
        font-size: 13px;

        margin-top: 2px;
    }


    .first-section
    {
        margin-top: 30px;
    }

    .main-slider .slider-button-prev
    {
        left: 10px;
    }

    .main-slider .slider-button-next
    {
        right: 10px;
    }

    .main-slider__coll
    {
        padding: 30px 20px 30px 65px;
    }

    .main-slider__title
    {
        font-size: 16px;
    }

    .main-slider__btn
    {
        margin-top: 16px;
    }

    .main-slider .slider-pagination
    {
        bottom: 6px;
    }

    .main-slider .slider-dot
    {
        width: 4px;
        height: 4px;
    }

    .main-slider .slider-dot + .slider-dot
    {
        margin-left: 5px;
    }


    .advantages
    {
        margin-top: 25px;
    }

    .advantages__item
    {
        max-width: 225px;
    }

    .advantages__sep
    {
        height: 68px;
        margin-right: 12px;
        margin-left: 12px;
    }

    .advantages__item-icon
    {
        margin-right: 10px;
    }

    .advantages__item-title
    {
        font-size: 14px;
    }

    .advantages__item-desc
    {
        font-size: 13px;
    }


    .products__slider .slider-button-prev
    {
        left: -16px;
    }

    .products__slider .slider-button-next
    {
        right: -16px;
    }

    .product__sticker
    {
        font-size: 11px;

        padding-right: 5px;
        padding-left: 5px;
    }

    .product__stickers
    {
        top: 4px;
    }

    .product__img
    {
        padding-bottom: 98.13%;
    }

    .product__btns
    {
        top: 10px;
        right: 10px;
    }

    .product__btns-btn
    {
        width: 17px;
        height: 20px;
    }

    .product__btns-btn.product-compare svg
    {
        width: 14px;
        height: 20px;
    }

    .product__btns-btn.product-favorite svg
    {
        width: 17px;
        height: 15px;
    }

    .product-favorite::before
    {
        background-size: contain;
    }

    .product__pad
    {
        padding: 12px;
    }

    .product__name
    {
        font-size: 13px;
    }

    .product__info
    {
        font-size: 12px;

        margin-top: 8px;
    }

    .product__prices
    {
        margin: 12px 0 0 -6px;
    }

    .product__price
    {
        font-size: 14px;

        margin-left: 6px;
    }

    .product__oldprice
    {
        font-size: 12px;

        margin-left: 6px;
    }

    .product__box
    {
        flex-wrap: wrap;

        margin-top: 8px;
    }

    .product__review
    {
        margin-left: 0;
    }

    .product__review-flex
    {
        margin: 0;
    }

    .product__review-star
    {
        width: 12px;
        height: 13px;
        margin-right: 4px;
    }

    .product__review-number
    {
        font-size: 12px;
    }

    .product__review-size
    {
        font-size: 12px;

        margin: 0 0 0 4px;
    }

    .product__availability
    {
        font-size: 12px;

        width: 100%;
        margin: 0;
    }

    .product__bot
    {
        margin: 6px 0 0 0;
    }

    .product__btn
    {
        font-size: 12px;
        line-height: 40px;

        width: 100%;
        margin-left: 0;
    }

    .product__buy
    {
        width: 100%;
        margin-left: 0;

        text-align: center;
    }

    .product__top
    {
        padding-bottom: 8px;
    }

    .product__thumb .slider-pagination
    {
        bottom: -8px;
    }

    .product__thumb .slider-dot
    {
        width: 4px;
        height: 4px;
    }

    .product__thumb .slider-dot + .slider-dot
    {
        margin-left: 4px;
    }

    .product__added-check
    {
        height: 40px;
    }

    .amount
    {
        height: 40px;
    }


    .tabs__text
    {
        font-size: 15px;
    }



    .main-news__slider .swiper-slide
    {
        width: calc(27.7895% - 40px / 3);
    }

    .main-news__slider .swiper-slide._big
    {
        width: calc(44.421% - 40px / 3);
    }

    .main-news__time
    {
        top: 15px;
        left: 15px;

        font-size: 13px;
        line-height: 32px;

        padding: 0 6px 0 29px;
    }

    .main-news__time::before
    {
        left: 6px;

        width: 18px;
        height: 18px;
        margin-top: -9px;

        background-size: contain;
    }

    .news-big__flex
    {
        bottom: 20px;
        left: 15px;

        width: calc(100% - 30px);
        padding: 8px 15px 12px;
    }

    .news-big__date
    {
        font-size: 12px;
    }

    .news-big__name
    {
        font-size: 15px;

        margin-top: 9px;
    }

    .news-big__arrow
    {
        margin-left: 10px;
    }

    .main-news__date
    {
        font-size: 12px;

        margin-top: 10px;
    }

    .main-news__name
    {
        font-size: 15px;

        margin-top: 5px;
    }

    .main-news__divider
    {
        max-width: 68px;
        margin-top: 7px;
        margin-bottom: 8px;
    }

    .main-news__desc
    {
        font-size: 12px;
    }


    .page-top
    {
        padding-top: 30px;
    }

    .breadcrumbs
    {
        font-size: 13px;
    }

    .breadcrumbs + .page-title
    {
        margin-top: 20px;
    }


    .categories__item
    {
        font-size: 15px;

        width: calc(100% / 4 - 16px);
        margin: 16px 0 0 16px;
        padding-top: 16px;
        padding-bottom: 16px;
    }

    .categories__item-info
    {
        font-size: 13px;
    }


    .pagination
    {
        font-size: 13px;
        line-height: 17px;

        margin-top: 30px;
    }

    .pagination .prev,
    .pagination .next
    {
        height: 17px;
    }


    .btn-bord
    {
        font-size: 13px;
        line-height: 33px;

        padding: 0 18px;
    }

    .pagination-more__number
    {
        margin-top: -15px;
    }

    .select-number
    {
        width: 47px;
    }

    .select-number .nice-select .current
    {
        font-size: 13px;
        line-height: 28px;

        height: 30px;
    }

    .pagination-more__number-title
    {
        margin-right: 4px;
    }

    .main-news__grid .news-big__flex
    {
        padding: 20px;
    }


    .categories-small__grid
    {
        margin: -16px 0 0 -16px;
    }

    .categories-small__item
    {
        width: calc(100% / 3 - 16px);
        margin: 16px 0 0 16px;
        padding: 11px 15px;
    }

    .categories-small__item-img
    {
        width: 65px;
        height: 60px;
        margin-right: 13px;
    }

    .categories-small__item-name
    {
        font-size: 15px;
    }

    .categories-small__item-info
    {
        margin-top: 5px;
    }

    .content__center-line
    {
        margin-top: 15px;
        margin-bottom: 15px;
    }

    .select-sort
    {
        width: 182px;
    }

    .select-sort .nice-select .current
    {
        font-size: 13px;
        line-height: 33px;

        height: 35px;
        padding: 0 26px 0 10px;
    }

    .select-sort .nice-select .list .list_item
    {
        font-size: 13px;
    }

    .sorting__views
    {
        width: 89px;
        height: 35px;
        padding: 2px;
    }

    .sorting__views-btn
    {
        width: 41px;
        height: 31px;
    }

    .filter-use_marg
    {
        margin-top: 20px;
    }

    .filter-use__flex
    {
        margin: -10px 0 0 -15px;
    }

    .filter-use__item
    {
        margin: 10px 0 0 15px;
    }

    .filter-use__clear
    {
        font-size: 13px;
        line-height: 35px;
    }

    .filter-use__link
    {
        font-size: 13px;
        line-height: 35px;

        min-width: 189px;
    }


    .products__grid
    {
        margin-top: 8px;
    }

    .products__grid .product
    {
        margin-top: 16px;
    }



    .filter
    {
        padding: 15px;
    }

    .filter:not(.filter-big__wrap) .filter__title
    {
        font-size: 14px;
    }

    .filter:not(.filter-big__wrap) .filter__search .filter__search-input
    {
        font-size: 12px;

        padding-left: 10px;
    }

    .filter:not(.filter-big__wrap) .filter__scroll
    {
        max-height: 162px;
        margin-left: -15px;
    }

    .filter:not(.filter-big__wrap) .checkbox__text
    {
        font-size: 13px;
        line-height: 1.3;

        padding-left: 44px;
    }

    .filter:not(.filter-big__wrap) .checkbox__text::before
    {
        left: 15px;
    }

    .filter:not(.filter-big__wrap) .checkbox__text::after
    {
        left: 15px;
    }

    .filter:not(.filter-big__wrap) .radio__text
    {
        font-size: 13px;
    }

    .filter:not(.filter-big__wrap) .radios
    {
        padding-left: 15px;
    }


    .filter:not(.filter-big__wrap) .checkbox-btns
    {
        margin: -10px 0 0 -10px;
    }

    .filter:not(.filter-big__wrap) .checkbox-btn
    {
        flex-grow: 0;

        max-width: calc(100% - 10px);
        margin: 10px 0 0 10px;
    }

    .filter:not(.filter-big__wrap) .checkbox-btn__text
    {
        font-size: 12px;
        line-height: 31px;

        padding: 0 6px;
    }

    .filter:not(.filter-big__wrap) .checkbox-slider__text
    {
        font-size: 14px;
        line-height: 1.3;

        padding-right: 30px;
    }

    .filter:not(.filter-big__wrap) .checkbox-slider__text-dot
    {
        top: 4px;

        width: 22px;
        height: 12px;
    }

    .filter:not(.filter-big__wrap) .checkbox-slider__text-dot:after
    {
        top: 1px;
        left: 1px;

        width: 10px;
        height: 10px;
    }

    .filter:not(.filter-big__wrap) input[type=checkbox]:checked + .checkbox-slider__text .checkbox-slider__text-dot:after
    {
        left: 11px;
    }

    .filter:not(.filter-big__wrap) .range .range__input
    {
        font-size: 11px;

        height: 35px;
    }

    .filter:not(.filter-big__wrap) .irs
    {
        margin-bottom: 14px;
    }

    .filter:not(.filter-big__wrap) .filter__bot
    {
        padding-top: 24px;
    }

    .filter:not(.filter-big__wrap) .filter__reset
    {
        font-size: 12px;
    }

    .filter__all
    {
        font-size: 14px;
    }


    .inner-banner__coll
    {
        padding-left: 20px;
    }

    .inner-banner__title
    {
        font-size: 14px;
    }

    .inner-banner__img
    {
        width: 56.98%;
    }

    .inner-banner__img picture
    {
        padding-bottom: 33.1%;
    }


    .products__list
    {
        margin-top: 0;
    }

    .products__list .product
    {
        margin-top: 16px;
    }

    .products__list .product__top
    {
        width: 180px;
    }

    .products__list .product__stickers
    {
        max-width: 180px;
    }

    .products__list .product__pad
    {
        width: calc(100% - 210px);
    }

    .products__list .product__coll
    {
        width: calc(100% - 180px);
    }

    .products__list .product__name
    {
        font-size: 15px;
    }

    .products__list .product__box
    {
        max-width: 214px;
    }

    .products__list .product__review-star
    {
        width: 17px;
        height: 18px;
        margin-right: 5px;
    }

    .products__list .product__review-number
    {
        font-size: 13px;
    }

    .products__list .product__availability
    {
        font-size: 13px;

        width: auto;
    }

    .products__list .product__review-size
    {
        font-size: 14px;
    }

    .products__list .product__btns
    {
        width: 150px;
    }

    .products__list .product__colr
    {
        width: 150px;
    }

    .products__list .product__buy
    {
        width: auto;
    }

    .products__list .product__info
    {
        font-size: 13px;
    }


    .product-small__thumb
    {
        margin-right: 10px;
    }

    .product-small__review
    {
        min-width: 45px;
    }

    .product-small__review-star
    {
        width: 13px;
        height: 12px;
        margin-right: 4px;
    }

    .product-small__review-number
    {
        font-size: 12px;
    }

    .product-small__availability
    {
        font-size: 12px;
    }

    .product-small__price
    {
        font-size: 14px;
    }

    .product-small__oldprice
    {
        font-size: 12px;
    }


    .small-title
    {
        font-size: 18px;
    }

    .product-about .main-news__slider
    {
        margin-top: 12px;
    }


    .product-about .tabs
    {
        max-width: 634px;
    }

    .product-about .tabs__text
    {
        font-size: 13px;

        padding-bottom: 10px;
    }


    .features
    {
        max-width: 864px;
    }

    .features__feature + .features__feature
    {
        margin-top: 15px;
    }

    .features__feature-name::before
    {
        top: 12px;
    }


    .filter-btns
    {
        margin-top: 2px;
    }

    .faq__coll
    {
        width: calc(100% - 386px);
    }

    .accordion_marg
    {
        margin-top: 20px;
    }

    .accordion__open
    {
        font-size: 15px;
    }

    .faq__colr
    {
        width: 269px;
    }

    .faq__btn
    {
        margin-right: 20px;
    }

    .btn-light
    {
        font-size: 14px;
        line-height: 44px;
    }


    .filter-big .filter__title
    {
        font-size: 16px;
    }

    .filter-big .filter__submit
    {
        font-size: 16px;
    }

    .filter-big .filter__reset
    {
        font-size: 16px;
    }



    .footer__colr
    {
        width: 375px;
    }

    .form-subscribe__title
    {
        font-size: 22px;
    }

    .form-subscribe__flex
    {
        margin-top: 16px;
    }

    .form-subscribe .form-subscribe__input
    {
        font-size: 14px;

        padding: 0 9px;
    }

    .form-subscribe__submit
    {
        font-size: 14px;

        width: 121px;
    }

    .footer__coll
    {
        width: 118px;
    }

    .footer__socials
    {
        margin: 10px 0 0 -7px;
    }

    .footer__socials-link
    {
        width: 24px;
        height: 25px;
        margin-left: 7px;
    }

    .footer__contacts
    {
        margin-top: 20px;
    }

    .footer__contacts-item
    {
        display: block;
    }

    .footer__contacts-name
    {
        font-size: 13px;
        line-height: 1.69;

        width: 100%;
        padding: 0;
    }

    .footer__contacts-val
    {
        font-size: 13px;
        line-height: 1.69;

        margin-top: 5px;
    }


    .footer-menu
    {
        width: 386px;
        margin-top: -20px;
    }

    .footer-menu__col
    {
        margin-top: 20px;
    }

    .footer-menu__title
    {
        font-size: 13px;
        line-height: 1.69;
    }

    .footer-menu__list
    {
        margin-top: 12px;
    }

    .footer-menu__item
    {
        font-size: 13px;
        line-height: 1.69;
    }


    .footer__bot
    {
        margin-top: 32px;
    }

    .footer__copy
    {
        font-size: 13px;
    }

    .footer__link
    {
        font-size: 13px;

        margin-left: 13px;
    }
}