@media (max-width: 767px)
{
    .wrap
    {
        padding-bottom: 58px;
    }


    .cont
    {
        padding-right: 20px;
        padding-left: 20px;
    }


    .tabs
    {
        overflow: hidden;
        overflow-x: auto;
        flex-wrap: nowrap;

        margin-right: -20px;
        padding-right: 20px;
    }

    .tabs::-webkit-scrollbar
    {
        display: none;
    }

    .tabs__text
    {
        flex-shrink: 0;

        white-space: nowrap;
    }


    ._menu-open,
    ._lock
    {
        overflow: hidden;
    }

    .header
    {
        position: fixed;
        top: 0;
        left: 0;

        visibility: hidden;

        width: 100%;
        height: 100%;
        padding-top: 21px;

        pointer-events: none;

        opacity: 0;

        transition: visibility .2s linear, opacity .2s linear;
    }

    .header._show
    {
        visibility: visible;

        pointer-events: auto;

        opacity: 1;
    }

    .header__top
    {
        display: none;
    }

    .header__info
    {
        width: 100%;
        height: 100%;
    }

    .header__info .cont
    {
        height: 100%;
    }

    .header__logo
    {
        display: none;
    }

    .header__search
    {
        width: 100%;
        max-width: none;
        margin: 17px 0 0;
    }

    .header__info._second .header__search
    {
        display: none;
    }

    .mini-modal__select
    {
        width: 60px;
        margin-right: 5px;
    }

    .mini-modal__btn-select
    {
        font-size: 13px;
        line-height: 30px;

        padding: 0 15px 0 7px;
    }

    .mini-modal__btn-select svg
    {
        right: 7px;
    }

    .header__search-field
    {
        width: calc(100% - 65px);
    }

    .header__search .header__search-input
    {
        font-size: 13px;

        height: 30px;
    }

    .header__search-submit
    {
        height: 30px;
        margin-left: 5px;
    }

    .catalog-head
    {
        position: relative;

        display: block;

        width: 100%;
    }

    .catalog-head__back
    {
        position: absolute;
        top: 1px;
        left: 0;

        color: #007657;

        display: flex;
        justify-content: center;
        align-content: center;
        align-items: center;
        flex-wrap: wrap;

        width: 21px;
        height: 21px;

        border-radius: 2.5px;
        background: #FFF;
        box-shadow: 0 0 12px 0 rgba(13, 30, 42, .1);

        transform: rotate(180deg);
    }

    .catalog-head__back svg
    {
        display: block;

        width: 10px;
        height: 10px;

        fill: none;
        stroke: currentColor;
    }

    .catalog-head__title
    {
        color: #282828;
        font-size: 18px;
        font-weight: 500;
        line-height: 23px;

        overflow: hidden;

        padding: 0 36px;

        text-align: center;
        white-space: nowrap;
        text-overflow: ellipsis;
    }

    .catalog-head__close
    {
        position: absolute;
        top: 1px;
        right: 0;

        color: #282828;

        display: flex;
        justify-content: center;
        align-content: center;
        align-items: center;
        flex-wrap: wrap;

        width: 21px;
        height: 21px;
    }

    .catalog-head__close svg
    {
        display: block;

        width: 11px;
        height: 11px;

        fill: none;
        stroke: currentColor;
    }

    .header__btns
    {
        display: none;
    }

    .header__bot
    {
        display: none;
    }

    .header-catalog
    {
        position: relative;

        overflow: hidden;
        overflow-y: auto;
        order: 2;

        width: calc(100% + 40px);
        height: calc(100% - 96px);
        margin: 20px -20px 0;
        padding: 0 0 10px;
    }

    .header__info._second .header-catalog
    {
        overflow: visible;

        height: calc(100% - 43px);
    }

    .header-catalog__wrap
    {
        position: static;

        margin-left: 0;
    }

    .header-catalog__open
    {
        display: none;
    }

    .header-catalog__block
    {
        position: static;
        top: 0;

        visibility: visible;

        height: auto;
        padding: 0;

        opacity: 1;
    }

    .header._show .header-catalog__block
    {
        pointer-events: auto;
    }

    .header-catalog__block .cont
    {
        height: auto;
        padding: 0;
    }

    .header-menu
    {
        overflow: visible;

        width: 100%;
        height: auto;
    }

    .header-menu__item
    {
        max-width: none;

        border-top: 1px solid #EAEAEA;
    }

    .header-menu__item_all
    {
        display: none;
    }

    .header-menu__item + .header-menu__item
    {
        margin-top: 0;
    }

    .header-menu__link
    {
        position: relative;

        width: 100%;
        max-width: none;
        padding: 9px 20px 9px 20px;
    }

    .header-menu__link._sub
    {
        padding-right: 36px;
    }

    .header-menu__link-arrow
    {
        position: absolute;
        top: 50%;
        right: 20px;

        display: block;

        width: 6px;
        height: 10px;
        margin-top: -5px;

        fill: #A3A3A3;
    }

    .header-submenu
    {
        position: absolute;
        top: 0;
        left: 100%;

        visibility: visible;
        overflow: hidden;

        width: 100%;
        height: 100%;
        padding: 0;

        opacity: 1;
        background: #FFF;

        transition: left .4s linear;
    }

    .header._show
    {
        pointer-events: auto;
    }

    .header-submenu._show
    {
        left: 0;
    }

    .header-submenu__title
    {
        display: none;
    }

    .header-submenu__all,
    .header-submenu__sub-all
    {
        position: relative;

        color: #282828;
        font-size: 13px;
        font-weight: 500;
        line-height: 33px;

        display: block;

        margin-bottom: -1px;
        padding: 0 36px 0 20px;

        text-decoration: none;

        border-top: 1px solid #EAEAEA;
        border-bottom: 1px solid #EAEAEA;
    }

    .header-submenu__all-arrow,
    .header-submenu__sub-all-arrow
    {
        position: absolute;
        top: 50%;
        right: 20px;

        display: block;

        width: 6px;
        height: 10px;
        margin-top: -5px;

        fill: #A3A3A3;
    }

    .header-submenu__flex
    {
        overflow: hidden;
        overflow-y: auto;

        height: calc(100% - 34px);
        margin: 0;
        padding-bottom: 10px;
    }

    .header__info._third .header-submenu__flex
    {
        overflow: visible;

        height: 100%;
        padding: 0;
    }

    .header-submenu__item
    {
        width: 100%;
        margin: 0;
    }

    .header-submenu__item + .header-submenu__item
    {
        border-top: 1px solid #EAEAEA;
    }

    .header-submenu__link
    {
        position: relative;

        font-size: 13px;
        font-weight: 400;

        display: flex;
        justify-content: flex-start;
        align-content: center;
        align-items: center;
        flex-wrap: nowrap;

        padding: 9px 20px 9px 20px;
    }

    .header-submenu__link._sub
    {
        padding-right: 36px;
    }

    .header-submenu__link-arrow
    {
        position: absolute;
        top: 50%;
        right: 20px;

        display: block;

        width: 6px;
        height: 10px;
        margin-top: -5px;

        fill: #A3A3A3;
    }

    .header-submenu__link-icon
    {
        display: flex;
        justify-content: center;
        align-content: center;
        align-items: center;
        flex-shrink: 0;
        flex-wrap: wrap;

        width: 44px;
        height: 44px;
        margin-right: 10px;

        border-radius: 50%;
        background: rgba(0, 118, 87, .05);
    }

    .header-submenu__link-icon img
    {
        display: block;

        max-width: 100%;
        max-height: 100%;
    }

    .header-submenu__sub
    {
        position: absolute;
        z-index: 10;
        top: 0;
        left: 100%;

        overflow: hidden;

        width: 100%;
        height: 100%;
        margin: 0;
        padding: 0;

        background: #FFF;

        transition: left .4s linear;
    }

    .header-submenu__sub._show
    {
        left: 0;
    }

    .header-submenu__sub-wrap
    {
        overflow: hidden;
        overflow-y: auto;

        height: calc(100% - 34px);
        margin: 0;
        padding-bottom: 10px;
    }

    .header-submenu__sub-item
    {
        border-top: 1px solid #EAEAEA;
    }

    .header-submenu__sub-item a
    {
        font-size: 13px;

        display: block;

        padding: 9px 20px;
    }

    .header-submenu__sub-item a._sub
    {
        display: block;

        padding-right: 36px;
    }

    .header-submenu__sub-item a._sub svg
    {
        right: 20px;
    }

    .header-submenu__sub-item + .header-submenu__sub-item
    {
        margin-top: 0;
    }

    .header-submenu__sub-item._hide
    {
        display: block;
    }

    .header-submenu__sub-more
    {
        display: none;
    }

    .header-submenu__sub-item ul
    {
        padding: 0 20px 10px;
    }

    .header-submenu__sub-item ul li
    {
        margin-top: 8px;
    }

    .header-submenu__sub-item ul li:first-child
    {
        margin-top: 0;
    }

    .header-submenu__sub-item ul li a
    {
        padding: 0;
    }


    .header-mob
    {
        display: block;

        padding: 13px 0 10px;

        box-shadow: 0 4px 4px 0 rgba(212, 212, 212, .25);
    }

    .header-mob__top .cont
    {
        align-content: center;
        align-items: center;
    }

    .header-mob__logo a,
    .header-mob__logo img
    {
        display: block;

        max-width: 20px;
    }

    .header-mob__adres
    {
        position: relative;

        color: #8C8C8C;
        font-size: 12px;
        font-weight: 500;

        margin-left: 15px;
        padding-left: 17px;
    }

    .header-mob__adres-marker
    {
        position: absolute;
        top: 50%;
        left: 0;

        display: block;

        width: 12px;
        height: 13px;
        margin-top: -6.5px;

        fill: none;
        stroke: currentColor;
    }

    .header-mob__contact
    {
        margin-left: auto;
    }

    .header-mob__mail
    {
        display: block;

        width: 20px;
        height: 20px;

        background: url(../images/ic_mail.svg) 50% no-repeat;
    }

    .header-mob__phone
    {
        display: block;

        width: 20px;
        height: 20px;
        margin-left: 16px;

        background: url(../images/ic_phone.svg) 50% no-repeat;
    }

    .header-mob__bot .cont
    {
        flex-wrap: nowrap;
    }

    .header-mob__bot
    {
        margin-top: 11px;
    }

    .mob-menu-btn
    {
        display: block;
        flex-shrink: 0;

        width: 44px;
        height: 44px;
        margin-right: 10px;

        cursor: pointer;

        border: none;
        border-radius: 5px;
        background: #007657 url(../images/burger.svg) 50% no-repeat;
    }

    .header-mob__search
    {
        width: 100%;
        height: 44px;
    }

    .header-mob__search._show .header-mob__search-wrap
    {
        position: fixed;
        z-index: 90;
        top: 0;
        left: 0;

        width: 100%;
        height: 100%;

        background: #FFF;
    }

    .header-mob__search-form
    {
        position: relative;
    }

    .header-mob__search._show .header-mob__search-box
    {
        padding: 12px 20px;

        background: #FFF;
        box-shadow: 0 4px 4px 0 rgba(212, 212, 212, .25);
    }

    .header-mob__search .header-mob__search-input
    {
        color: #282828;
        font: 13px var(--font-family);

        display: block;

        width: 100%;
        height: 44px;
        padding: 0 68px 0 5px;

        border: 1px solid #007657;
        border-radius: 5px;
    }

    .header-mob__search._show .header-mob__search-input
    {
        padding-left: 14px;
    }

    .header-mob__search-btn
    {
        position: absolute;
        top: 3px;
        right: 3px;

        width: 58px;
        height: 38px;

        border-radius: 3px;
        background: #007657 url(../images/ic_lupa.svg) 50% no-repeat;
    }

    .header-mob__search._show .header-mob__search-btn
    {
        display: none;
    }

    .header-mob__search-close
    {
        position: absolute;
        top: 3px;
        right: 3px;

        display: none;
        justify-content: flex-end;
        align-content: center;
        align-items: center;
        flex-wrap: wrap;

        width: 58px;
        height: 38px;
        padding-right: 12px;

        border-radius: 3px;
    }

    .header-mob__search._show .header-mob__search-close
    {
        display: flex;
    }

    .header-mob__search-close svg
    {
        display: block;

        width: 11px;
        height: 11px;

        fill: none;
        stroke: #282828;
    }

    .header-mob__search-block
    {
        display: none;
        overflow: hidden;
        overflow-y: auto;

        height: calc(100% - 68px);
        padding: 20px;
    }

    .header-mob__search._show .header-mob__search-block
    {
        display: block;
    }

    .search-cats__cat
    {
        color: #282828;
        font-size: 14px;
        font-weight: 500;
        line-height: normal;

        display: flex;
        justify-content: flex-start;
        align-content: flex-start;
        align-items: flex-start;
        flex-wrap: nowrap;

        text-decoration: none;
    }

    .search-cats__cat + .search-cats__cat
    {
        margin-top: 15px;
    }

    .search-cats__cat-icon
    {
        display: flex;
        justify-content: center;
        align-content: center;
        align-items: center;
        flex-shrink: 0;
        flex-wrap: wrap;

        width: 28px;
        height: 28px;
        margin-right: 10px;

        border-radius: 50%;
        background: rgba(0, 118, 87, .05);
    }

    .search-cats__cat-icon img
    {
        display: block;

        max-width: 100%;
        max-height: 100%;
    }

    .search-cats__cat-box
    {
        padding-top: 5px;
    }

    .search-cats__cat-name
    {
        display: block;
    }

    .search-cats__cat-desc
    {
        font-size: 12px;
        font-weight: 400;

        display: block;

        margin-top: 4px;

        opacity: .4;
    }

    .header-mob__search-divider
    {
        margin-top: 20px;
        margin-bottom: 20px;

        border-top: 1px solid rgba(0, 0, 0, .2);
    }

    .search-brands__brand
    {
        color: #282828;
        font-size: 14px;
        font-weight: 500;
        line-height: normal;

        display: flex;
        justify-content: flex-start;
        align-content: flex-start;
        align-items: flex-start;
        flex-wrap: nowrap;

        text-decoration: none;
    }

    .search-brands__brand + .search-brands__brand
    {
        margin-top: 15px;
    }

    .search-brands__brand-logo
    {
        flex-shrink: 0;

        width: 30px;
        margin-right: 9px;
    }

    .search-brands__brand-logo img
    {
        display: block;

        max-width: 100%;
    }

    .search-brands__brand-name
    {
        display: block;
    }

    .search-brands__brand-desc
    {
        font-size: 12px;
        font-weight: 400;

        display: block;

        margin-top: 4px;

        opacity: .4;
    }


    .search-products__product
    {
        color: #282828;
        font-size: 13px;
        font-weight: 500;
        line-height: 1.3;

        display: flex;
        justify-content: flex-start;
        align-content: flex-start;
        align-items: flex-start;
        flex-wrap: nowrap;

        text-decoration: none;
    }

    .search-products__product + .search-products__product
    {
        margin-top: 15px;
    }

    .search-products__product-img
    {
        display: flex;
        justify-content: center;
        align-content: flex-start;
        align-items: flex-start;
        flex-wrap: wrap;

        width: 61px;
        height: 61px;
        margin-right: 10px;
    }

    .search-products__product-img img
    {
        display: block;

        max-width: 100%;
    }

    .search-products__product-name
    {
        display: block;
    }

    .search-products__product-price
    {
        font-size: 14px;
        font-weight: 700;
        line-height: normal;

        display: block;

        margin-top: 6px;
    }


    .fix-btns
    {
        position: fixed;
        z-index: 70;
        bottom: 0;
        left: 0;

        display: flex;
        justify-content: space-between;
        align-content: flex-start;
        align-items: flex-start;
        flex-wrap: wrap;

        width: 100%;
        padding: 0 20px;

        background: #FFF;
        box-shadow: 0 -4px 4px 0 rgba(212, 212, 212, .25);
    }

    .fix-btns__btn
    {
        color: rgba(40, 40, 40, .4);
        font-size: 12px;
        font-weight: 500;

        display: block;

        padding: 8px 0 10px;

        text-decoration: none;

        transition: color .2s linear;
    }

    .fix-btns__btn._active
    {
        color: #007657;
    }

    .fix-btns__btn-icon
    {
        display: flex;
        justify-content: center;
        align-content: center;
        align-items: center;
        flex-wrap: wrap;

        height: 24px;
    }

    .fix-btns__btn-icon svg
    {
        display: block;

        width: 24px;
        height: 24px;

        fill: currentColor;
        stroke: currentColor;
    }


    .user-info
    {
        position: fixed;
        z-index: 90;
        top: 0;
        left: 0;

        display: block;
        visibility: hidden;
        overflow: hidden;
        overflow-y: auto;

        width: 100%;
        height: calc(100% - 58px);
        padding-bottom: 20px;

        pointer-events: none;

        opacity: 0;
        background: #FFF;

        transition: opacity .2s linear, visibility .2s linear;
    }

    .user-info._show
    {
        visibility: visible;

        pointer-events: auto;

        opacity: 1;
    }

    .no-user
    {
        flex-wrap: nowrap;

        padding: 17px 20px;

        background: #FFF;
        box-shadow: 0 4px 4px 0 rgba(212, 212, 212, .25);
    }

    .no-user__icon
    {
        display: flex;
        justify-content: center;
        align-content: center;
        align-items: center;
        flex-shrink: 0;
        flex-wrap: wrap;

        width: 50px;
        height: 50px;
        margin-right: 19px;

        border-radius: 50%;
        background: #E5F1EE;
    }

    .no-user__icon svg
    {
        display: block;

        width: 18px;
        height: 21px;

        fill: none;
        stroke: #007657;
    }

    .no-user__title
    {
        color: #007657;
        font-size: 18px;
        font-weight: 500;
        line-height: 1.3;
    }

    .no-user__title a
    {
        color: #007657;

        text-decoration: none;

        border-bottom: 1px dashed currentColor;
    }

    .no-user__desc
    {
        color: #616161;
        font-size: 13px;
        line-height: 1.3;

        margin-top: 10px;
    }

    .user-info__links
    {
        margin-top: 6px;
    }

    .user-info__links-item
    {
        font-size: 13px;
        line-height: 1.3;
    }

    .user-info__links-item + .user-info__links-item
    {
        border-top: 1px solid rgba(97, 97, 97, .1);
    }

    .user-info__links-link
    {
        position: relative;

        color: #282828;

        display: flex;
        justify-content: flex-start;
        align-content: center;
        align-items: center;
        flex-wrap: wrap;

        padding: 15px 20px;

        text-decoration: none;
    }

    .user-info__links-link._sub
    {
        padding-right: 36px;
    }

    .user-info__links-number
    {
        color: #FFF;
        font-size: 7px;
        font-weight: 400;
        line-height: 15px;

        flex-shrink: 0;
        flex-shrink: 0;

        min-width: 15px;
        margin-left: 6px;
        padding: 0 2px;

        border-radius: 8px;
        background: #F87740;
    }

    .user-info__links-arrow
    {
        position: absolute;
        top: 50%;
        right: 20px;

        width: 6px;
        height: 10px;
        margin-top: -5px;

        fill: rgba(40, 40, 40, .5);
    }

    .user-info__links-link._active .user-info__links-arrow
    {
        transform: rotate(-90deg);
    }

    .user-info__links-sub
    {
        display: none;

        padding: 4px 20px 20px 30px;
    }

    .user-info__links-sub._show
    {
        display: block;
    }

    .user-info__links-sub div + div
    {
        margin-top: 10px;
    }

    .user-info__links-sub a
    {
        color: rgba(107, 107, 107, .7);

        text-decoration: none;
    }


    .main-slider__coll
    {
        padding: 26px 16px;
    }

    .main-slider__img
    {
        width: 48%;
    }


    .swiper-slide.product
    {
        visibility: visible;

        width: 160px;

        pointer-events: auto;

        opacity: 1;
    }

    .product__stickers
    {
        left: 5px;

        width: calc(100% - 64px);
    }

    .product__buy
    {
        display: none;
    }

    .products__grid
    {
        --products_count: 2;
    }


    .main-news__time
    {
        font-size: 12px;
        line-height: 23px;

        padding: 0 5px 0 26px;
    }

    .main-news__time::before
    {
        left: 4px;
    }


    .categories__item
    {
        width: calc(100% / 3 - 16px);
        padding-right: 8px;
        padding-left: 8px;
    }

    .categories__item-thumb
    {
        max-width: 96%;
    }


    .main-news__grid .news-big
    {
        width: 100%;
        min-height: 300px;
    }

    .main-news__grid .main-news__time
    {
        top: 15px;
        left: 15px;
    }

    .main-news__grid .news-big__flex
    {
        bottom: 15px;
        left: 15px;

        width: calc(100% - 30px);
    }

    .main-news__grid .news-big__flex
    {
        padding: 10px 15px;
    }

    .main-news__grid .news-big__name
    {
        font-size: 15px;

        margin-top: 7px;
    }


    .main-news__flex .main-news__item
    {
        width: calc(100% / 2 - 16px);
    }


    .categories-btns
    {
        overflow: hidden;
        overflow-x: auto;
        flex-wrap: nowrap;

        width: calc(100% + 40px);
        margin-right: -20px;
        margin-left: -20px;
        padding-right: 20px;
        padding-left: 5px;
    }

    .categories-btns::-webkit-scrollbar
    {
        display: none;
    }

    .categories-btns__btn
    {
        flex-shrink: 0;
    }


    .page-top
    {
        padding-bottom: 22px;
    }


    .categories-small__item
    {
        padding-right: 10px;
        padding-left: 10px;
    }

    .categories-small__item-img
    {
        width: 55px;
        height: 60px;
        margin-right: 10px;
    }


    .filter
    {
        padding-right: 20px;
        padding-left: 20px;
    }

    .filter-head
    {
        left: -20px;

        width: calc(100% + 40px);
        margin-right: -20px;
        margin-left: -20px;
        padding: 0 20px;
    }

    .sorting__views
    {
        display: none;
    }

    .filter-open
    {
        margin-right: 0;
    }


    .inner-banner__coll
    {
        padding-right: 14px;
        padding-left: 20px;
    }

    .inner-banner__title
    {
        font-size: 14px;
    }


    .catalog-cats .swiper-overflow
    {
        overflow: visible;
    }

    .catalog-cats .slider-button-prev,
    .catalog-cats .slider-button-next
    {
        display: none;
    }


    .products__list
    {
        display: flex;
        justify-content: flex-start;
        align-content: stretch;
        align-items: stretch;
        flex-wrap: wrap;

        margin: 4px 0 0 -16px;
    }

    .products__list .product
    {
        display: block;

        width: calc(100%/2 - 16px);
        margin: 16px 0 0 16px;
        padding: 0;
    }

    .products__list .product__btns
    {
        top: 10px;
        right: 10px;

        width: auto;
    }

    .products__list .product__stickers
    {
        top: 4px;
        left: 5px;

        width: calc(100% - 64px);
    }

    .products__list .product__top
    {
        width: 100%;
    }

    .products__list .product__info
    {
        display: none;
    }

    .products__list .product__pad
    {
        display: block;

        width: 100%;
        padding: 12px 10px;
    }

    .products__list .product__coll
    {
        width: 100%;
    }

    .products__list .product__colr
    {
        width: 100%;
        margin: 10px 0 0;
        padding-top: 0;
    }

    .products__list .product__name
    {
        font-size: 13px;
    }

    .products__list .product__review-star
    {
        width: 12px;
        height: 13px;
        margin-right: 4px;
    }

    .products__list .product__review-number
    {
        font-size: 12px;
    }

    .products__list .product__review-size
    {
        font-size: 12px;
    }

    .products__list .product__availability
    {
        font-size: 12px;

        width: 100%;
    }

    .products__list .product__thumb
    {
        background: #F9F9F9;
    }

    .product-about .tabs
    {
        overflow: visible;

        margin-bottom: 20px;
        padding-right: 0;
    }

    .product-about .tabs__text
    {
        width: auto;
        min-width: 111px;
        padding-bottom: 10px;
    }


    .features__feature-name
    {
        width: 200px;
    }

    .filter:not(.filter-big__wrap) .filter-btns
    {
        overflow: hidden;
        overflow-x: auto;
        flex-wrap: nowrap;

        width: calc(100% + 40px);
        margin-top: 16px;
        margin-right: -20px;
        margin-left: -20px;
        padding-right: 20px;
        padding-left: 10px;
    }

    .filter:not(.filter-big__wrap) .filter-btns::-webkit-scrollbar
    {
        display: none;
    }

    .filter:not(.filter-big__wrap) .filter-btns__btn
    {
        flex-shrink: 0;

        margin-top: 0;

        white-space: nowrap;
    }


    .faq__colr
    {
        margin-top: 32px;
    }


    .table-wrap
    {
        margin-right: -20px;
        margin-left: -20px;
        padding-right: 20px;
        padding-left: 20px;
    }


    .footer
    {
        padding: 22px 0;
    }

    .footer__coll
    {
        width: 118px;
    }

    .footer__contacts
    {
        margin-top: 20px;
    }

    .footer__contacts-item
    {
        display: block;
    }

    .footer__contacts-name
    {
        width: 100%;
        margin-bottom: 5px;
    }

    .footer__socials
    {
        margin: 10px 0 0 -7px;
    }

    .footer__socials-link
    {
        width: 24px;
        height: 25px;
        margin-left: 7px;
    }

    .footer-menu
    {
        width: calc(100% - 148px);
        max-width: 460px;
        margin-right: 0;
    }


    .footer__bot .cont
    {
        flex-wrap: wrap;
    }

    .footer__copy
    {
        font-size: 14px;

        width: 100%;
        max-width: none;
    }

    .footer__links
    {
        margin: 13px 0 0 -10px;
    }

    .footer__link
    {
        font-size: 14px;
    }


    .modal
    {
        padding: 20px;
    }

    .modal__title
    {
        font-size: 22px;
    }

    .modal-cities__item
    {
        padding-top: 16px;
    }

    .modal-cities
    {
        margin-top: 2px;

        column-gap: 20px;
    }

    .modal-cities__title
    {
        font-size: 15px;
    }

    .modal-cities__link
    {
        font-size: 13px;
    }

    .modal-search
    {
        margin-top: 20px;
    }

    .modal-search .modal-search__input
    {
        font-size: 13px;

        height: 35px;
    }

    .fancybox__content > .carousel__button.is-close
    {
        top: 26px;
        right: 20px;
    }
}