@media (max-width: 1319px)
{
    body
    {
        font-size: 13px;
    }

    .text-block h1
    {
        font-size: 22px;

        margin-bottom: 20px;
    }

    .text-block h2
    {
        font-size: 22px;

        margin-bottom: 20px;
    }

    .text-block + h2
    {
        margin-top: 16px;
    }

    .text-block h3
    {
        font-size: 18px;
    }

    .text-block + h3
    {
        margin-top: 16px;
    }

    .text-block p
    {
        margin-bottom: 16px;
    }

    .section-top_marg
    {
        margin-bottom: 16px;
    }

    .main-title
    {
        font-size: 22px;
    }

    .page-title
    {
        font-size: 28px;
    }

    .page-title span
    {
        font-size: 13px;

        margin-left: 30px;
    }

    .content__center .page-title
    {
        margin-bottom: 22px;
    }


    .main-link
    {
        font-size: 14px;
    }

    .btn-green
    {
        font-size: 14px;
        line-height: 44px;

        padding: 0 12px;
    }

    .btn-green_small
    {
        font-size: 14px;
        line-height: 44px;

        padding: 0 16px;
    }

    .btn-share
    {
        font-size: 14px;

        padding-left: 11px;
    }


    .header__list
    {
        max-width: 362px;
    }

    .header-catalog
    {
        margin-left: 20px;
    }

    .header-catalog__open
    {
        font-size: 14px;

        padding: 0 15px 0 39px;
    }

    .header-catalog__open::before
    {
        left: 12px;
    }

    .header-catalog__open::after
    {
        left: 12px;
    }

    .header__list-item
    {
        font-size: 12px;
        line-height: 28px;
    }

    .header__list-item + .header__list-item
    {
        margin-left: 15px;
    }


    .header__adres-btn
    {
        font-size: 12px;
    }

    .header__contact-text
    {
        font-size: 13px;
    }

    .mini-modal__btn-contact
    {
        font-size: 12px;
    }

    .mini-modal__modal-phones
    {
        width: 150px;
        margin-left: -75px;
    }

    .header__phone
    {
        font-size: 13px;
    }

    .mini-modal__btn-phones
    {
        font-size: 12px;
    }

    .header__mail
    {
        font-size: 12px;
    }

    .header__logo img
    {
        max-width: 115px;
    }

    .header__cats-link
    {
        font-size: 13px;
    }

    .header__cats-icon
    {
        margin-right: 5px;
    }

    .header__info .cont
    {
        align-content: center;
        align-items: center;
    }

    .header__search
    {
        margin-right: 20px;
        margin-left: 10px;
    }

    .header__search .header__search-input
    {
        font-size: 14px;
    }

    .header__bot
    {
        padding-top: 17px;
    }

    .header__btn
    {
        padding: 13px 0 5px;
    }

    .header__btn + .header__btn
    {
        margin-left: 20px;
    }

    .header__btn-icon
    {
        width: 30px;
    }

    .header__btn-number
    {
        margin-left: 3px;
    }

    .header__btn-name
    {
        display: none;
    }

    .header__adres
    {
        margin-right: 15px;
    }

    .header__phones
    {
        margin-left: 15px;
    }

    .header__mail
    {
        margin-left: 15px;
    }


    .header-menu
    {
        width: 35%;
    }

    .header-menu__link
    {
        font-size: 13px;
    }

    .header-catalog__block
    {
        padding: 30px 0;
    }

    .header-submenu
    {
        left: 35%;

        width: 65%;
        padding-left: 40px;
    }

    .header-submenu__title
    {
        font-size: 22px;
    }

    .header-submenu__flex
    {
        margin-top: -6px;
    }

    .header-submenu__item
    {
        width: calc(100% / 2 - 20px);
        margin: 30px 0 0 20px;
    }

    .header-submenu__link
    {
        font-size: 15px;
    }

    .header-submenu__sub-item
    {
        font-size: 15px;
    }

    .header-submenu__sub-more
    {
        font-size: 15px;
    }

    .header-submenu__sub-item ul li
    {
        font-size: 13px;

        margin-top: 2px;
    }


    .first-section
    {
        margin-top: 30px;
    }

    .main-slider .slider-button-prev
    {
        left: 10px;
    }

    .main-slider .slider-button-next
    {
        right: 10px;
    }

    .main-slider__coll
    {
        padding: 30px 20px 30px 65px;
    }

    .main-slider__title
    {
        font-size: 16px;
    }

    .main-slider__btn
    {
        margin-top: 16px;
    }

    .main-slider .slider-pagination
    {
        bottom: 6px;
    }

    .main-slider .slider-dot
    {
        width: 4px;
        height: 4px;
    }

    .main-slider .slider-dot + .slider-dot
    {
        margin-left: 5px;
    }


    .advantages
    {
        margin-top: 25px;
    }

    .advantages__item
    {
        max-width: 225px;
    }

    .advantages__sep
    {
        height: 68px;
        margin-right: 12px;
        margin-left: 12px;
    }

    .advantages__item-icon
    {
        margin-right: 10px;
    }

    .advantages__item-title
    {
        font-size: 14px;
    }

    .advantages__item-desc
    {
        font-size: 13px;
    }


    .products__slider .slider-button-prev
    {
        left: -16px;
    }

    .products__slider .slider-button-next
    {
        right: -16px;
    }

    .product__sticker
    {
        font-size: 11px;

        padding-right: 5px;
        padding-left: 5px;
    }

    .product__stickers
    {
        top: 4px;
    }

    .product__img
    {
        padding-bottom: 98.13%;
    }

    .product__btns
    {
        top: 10px;
        right: 10px;
    }

    .product__btns-btn
    {
        width: 17px;
        height: 20px;
    }

    .product__btns-btn.product-compare svg
    {
        width: 14px;
        height: 20px;
    }

    .product__btns-btn.product-favorite svg
    {
        width: 17px;
        height: 15px;
    }

    .product-favorite::before
    {
        background-size: contain;
    }

    .product__pad
    {
        padding: 12px;
    }

    .product__name
    {
        font-size: 13px;
    }

    .product__info
    {
        font-size: 12px;

        margin-top: 8px;
    }

    .product__prices
    {
        margin: 12px 0 0 -6px;
    }

    .product__price
    {
        font-size: 14px;

        margin-left: 6px;
    }

    .product__oldprice
    {
        font-size: 12px;

        margin-left: 6px;
    }

    .product__box
    {
        flex-wrap: wrap;

        margin-top: 8px;
    }

    .product__review
    {
        margin-left: 0;
    }

    .product__review-flex
    {
        margin: 0;
    }

    .product__review-star
    {
        width: 12px;
        height: 13px;
        margin-right: 4px;
    }

    .product__review-number
    {
        font-size: 12px;
    }

    .product__review-size
    {
        font-size: 12px;

        margin: 0 0 0 4px;
    }

    .product__availability
    {
        font-size: 12px;

        width: 100%;
        margin: 0;
    }

    .product__bot
    {
        margin: 6px 0 0 0;
    }

    .product__btn
    {
        font-size: 12px;
        line-height: 40px;

        width: 100%;
        margin-left: 0;
    }

    .product__buy
    {
        width: 100%;
        margin-left: 0;

        text-align: center;
    }

    .product__top
    {
        padding-bottom: 8px;
    }

    .product__thumb .slider-pagination
    {
        bottom: -8px;
    }

    .product__thumb .slider-dot
    {
        width: 4px;
        height: 4px;
    }

    .product__thumb .slider-dot + .slider-dot
    {
        margin-left: 4px;
    }

    .product__added-check
    {
        height: 40px;
    }

    .amount
    {
        height: 40px;
    }


    .tabs__text
    {
        font-size: 15px;
    }



    .main-news__slider .swiper-slide
    {
        width: calc(27.7895% - 40px / 3);
    }

    .main-news__slider .swiper-slide._big
    {
        width: calc(44.421% - 40px / 3);
    }

    .main-news__time
    {
        top: 15px;
        left: 15px;

        font-size: 13px;
        line-height: 32px;

        padding: 0 6px 0 29px;
    }

    .main-news__time::before
    {
        left: 6px;

        width: 18px;
        height: 18px;
        margin-top: -9px;

        background-size: contain;
    }

    .news-big__flex
    {
        bottom: 20px;
        left: 15px;

        width: calc(100% - 30px);
        padding: 8px 15px 12px;
    }

    .news-big__date
    {
        font-size: 12px;
    }

    .news-big__name
    {
        font-size: 15px;

        margin-top: 9px;
    }

    .news-big__arrow
    {
        margin-left: 10px;
    }

    .main-news__date
    {
        font-size: 12px;

        margin-top: 10px;
    }

    .main-news__name
    {
        font-size: 15px;

        margin-top: 5px;
    }

    .main-news__divider
    {
        max-width: 68px;
        margin-top: 7px;
        margin-bottom: 8px;
    }

    .main-news__desc
    {
        font-size: 12px;
    }


    .page-top
    {
        padding-top: 30px;
    }

    .breadcrumbs
    {
        font-size: 13px;
    }

    .breadcrumbs + .page-title
    {
        margin-top: 20px;
    }


    .categories__item
    {
        font-size: 15px;

        width: calc(100% / 4 - 16px);
        margin: 16px 0 0 16px;
        padding-top: 16px;
        padding-bottom: 16px;
    }

    .categories__item-info
    {
        font-size: 13px;
    }


    .pagination
    {
        font-size: 13px;
        line-height: 17px;

        margin-top: 30px;
    }

    .pagination .prev,
    .pagination .next
    {
        height: 17px;
    }


    .btn-bord
    {
        font-size: 13px;
        line-height: 33px;

        padding: 0 18px;
    }

    .pagination-more__number
    {
        margin-top: -15px;
    }

    .select-number
    {
        width: 47px;
    }

    .select-number .nice-select .current
    {
        font-size: 13px;
        line-height: 28px;

        height: 30px;
    }

    .pagination-more__number-title
    {
        margin-right: 4px;
    }

    .main-news__grid .news-big__flex
    {
        padding: 20px;
    }

    .pagination-more .btn-bord
    {
        font-size: 16px;
        line-height: 42px;
    }


    .categories-small__grid
    {
        margin: -16px 0 0 -16px;
    }

    .categories-small__item
    {
        width: calc(100% / 3 - 16px);
        margin: 16px 0 0 16px;
        padding: 11px 15px;
    }

    .categories-small__item-img
    {
        width: 65px;
        height: 60px;
        margin-right: 13px;
    }

    .categories-small__item-name
    {
        font-size: 15px;
    }

    .categories-small__item-info
    {
        margin-top: 5px;
    }

    .content__center-line
    {
        margin-top: 15px;
        margin-bottom: 15px;
    }

    .select-sort
    {
        width: 182px;
    }

    .select-sort .nice-select .current
    {
        font-size: 13px;
        line-height: 33px;

        height: 35px;
        padding: 0 26px 0 10px;
    }

    .select-sort .nice-select .list .list_item
    {
        font-size: 13px;
    }

    .sorting__views
    {
        width: 89px;
        height: 35px;
        padding: 2px;
    }

    .sorting__views-btn
    {
        width: 41px;
        height: 31px;
    }

    .filter-use_marg
    {
        margin-top: 20px;
    }

    .filter-use__flex
    {
        margin: -10px 0 0 -15px;
    }

    .filter-use__item
    {
        margin: 10px 0 0 15px;
    }

    .filter-use__clear
    {
        font-size: 13px;
        line-height: 35px;
    }

    .filter-use__link
    {
        font-size: 13px;
        line-height: 35px;

        min-width: 189px;
    }


    .products__grid
    {
        margin-top: 8px;
    }

    .products__grid .product
    {
        margin-top: 16px;
    }



    .filter
    {
        padding: 15px;
    }

    .filter:not(.filter-big__wrap) .filter__title
    {
        font-size: 14px;
    }

    .filter:not(.filter-big__wrap) .filter__search .filter__search-input
    {
        font-size: 12px;

        padding-left: 10px;
    }

    .filter:not(.filter-big__wrap) .filter__scroll
    {
        max-height: 162px;
        margin-left: -15px;
    }

    .filter:not(.filter-big__wrap) .checkbox__text
    {
        font-size: 13px;
        line-height: 1.3;

        padding-left: 44px;
    }

    .filter:not(.filter-big__wrap) .checkbox__text::before
    {
        left: 15px;
    }

    .filter:not(.filter-big__wrap) .checkbox__text::after
    {
        left: 15px;
    }

    .filter:not(.filter-big__wrap) .radio__text
    {
        font-size: 13px;
    }

    .filter:not(.filter-big__wrap) .radios
    {
        padding-left: 15px;
    }


    .filter:not(.filter-big__wrap) .checkbox-btns
    {
        margin: -10px 0 0 -10px;
    }

    .filter:not(.filter-big__wrap) .checkbox-btn
    {
        flex-grow: 0;

        max-width: calc(100% - 10px);
        margin: 10px 0 0 10px;
    }

    .filter:not(.filter-big__wrap) .checkbox-btn__text
    {
        font-size: 12px;
        line-height: 31px;

        padding: 0 6px;
    }

    .filter:not(.filter-big__wrap) .checkbox-slider__text
    {
        font-size: 14px;
        line-height: 1.3;

        padding-right: 30px;
    }

    .filter:not(.filter-big__wrap) .checkbox-slider__text-dot
    {
        top: 4px;

        width: 22px;
        height: 12px;
    }

    .filter:not(.filter-big__wrap) .checkbox-slider__text-dot:after
    {
        top: 1px;
        left: 1px;

        width: 10px;
        height: 10px;
    }

    .filter:not(.filter-big__wrap) input[type=checkbox]:checked + .checkbox-slider__text .checkbox-slider__text-dot:after
    {
        left: 11px;
    }

    .filter:not(.filter-big__wrap) .range .range__input
    {
        font-size: 11px;

        height: 35px;
    }

    .filter:not(.filter-big__wrap) .irs
    {
        margin-bottom: 14px;
    }

    .filter:not(.filter-big__wrap) .filter__bot
    {
        padding-top: 24px;
    }

    .filter:not(.filter-big__wrap) .filter__reset
    {
        font-size: 12px;
    }

    .filter__all
    {
        font-size: 14px;
    }


    .inner-banner__coll
    {
        padding-left: 20px;
    }

    .inner-banner__title
    {
        font-size: 14px;
    }

    .inner-banner__img
    {
        width: 56.98%;
    }

    .inner-banner__img picture
    {
        padding-bottom: 33.1%;
    }


    .products__list
    {
        margin-top: 0;
    }

    .products__list .product
    {
        margin-top: 16px;
    }

    .products__list .product__top
    {
        width: 180px;
    }

    .products__list .product__stickers
    {
        max-width: 180px;
    }

    .products__list .product__pad
    {
        width: calc(100% - 210px);
    }

    .products__list .product__coll
    {
        width: calc(100% - 180px);
    }

    .products__list .product__name
    {
        font-size: 15px;
    }

    .products__list .product__box
    {
        max-width: 214px;
    }

    .products__list .product__review-star
    {
        width: 17px;
        height: 18px;
        margin-right: 5px;
    }

    .products__list .product__review-number
    {
        font-size: 13px;
    }

    .products__list .product__availability
    {
        font-size: 13px;

        width: auto;
    }

    .products__list .product__review-size
    {
        font-size: 14px;
    }

    .products__list .product__btns
    {
        width: 150px;
    }

    .products__list .product__colr
    {
        width: 150px;
    }

    .products__list .product__buy
    {
        width: auto;
    }

    .products__list .product__info
    {
        font-size: 13px;
    }


    .product-small__thumb
    {
        margin-right: 10px;
    }

    .product-small__review
    {
        min-width: 45px;
    }

    .product-small__review-star
    {
        width: 13px;
        height: 12px;
        margin-right: 4px;
    }

    .product-small__review-number
    {
        font-size: 12px;
    }

    .product-small__availability
    {
        font-size: 12px;
    }

    .product-small__price
    {
        font-size: 14px;
    }

    .product-small__oldprice
    {
        font-size: 12px;
    }


    .small-title
    {
        font-size: 18px;
    }

    .product-about .main-news__slider._middle
    {
        margin-top: 12px;
    }


    .tabs_scroll
    {
        max-width: 634px;
    }

    .tabs__btn
    {
        font-size: 13px;

        padding-bottom: 10px;
    }

    .gallery-grid
    {
        gap: 16px;
    }


    .news-text__coll
    {
        width: calc(100% - 388px);
    }

    .text-block blockquote
    {
        font-size: 15px;
    }

    .news-text .text-block img
    {
        min-height: 334px;
    }

    .news-text__colr
    {
        width: 368px;
    }

    .news-text__aside
    {
        padding: 20px 15px 24px;
    }

    .news-text__creator-photo
    {
        width: 62px;
        height: 62px;
        margin-right: 8px;
    }

    .news-text__creator-name
    {
        font-size: 15px;
    }

    .news-text__aside .small-title
    {
        font-size: 15px;
    }

    .news-text__info
    {
        margin-top: 13px;
    }

    .news-text__cats-link
    {
        font-size: 13px;
        line-height: 26px;
    }

    .news-small__item
    {
        font-size: 15px;
    }


    .compare-feature__main-title
    {
        padding-top: 16px;
        padding-bottom: 16px;
    }

    .compare-feature
    {
        margin-top: 30px;
    }

    .compare-feature__flex
    {
        margin-top: 20px;
    }

    .compare-feature__item + .compare-feature__item
    {
        margin-top: 30px;
    }


    .features
    {
        max-width: 864px;
    }

    .features__feature + .features__feature
    {
        margin-top: 15px;
    }

    .features__feature-name::before
    {
        top: 12px;
    }


    .filter-btns
    {
        margin-top: 2px;
    }

    .faq__coll
    {
        width: calc(100% - 386px);
    }

    .accordion_marg
    {
        margin-top: 20px;
    }

    .accordion__open
    {
        font-size: 15px;
    }

    .faq__colr
    {
        width: 269px;
    }

    .faq__btn
    {
        margin-right: 20px;
    }

    .btn-light
    {
        font-size: 14px;
        line-height: 44px;
    }


    .filter-big .filter__title
    {
        font-size: 16px;
    }

    .filter-big .filter__submit
    {
        font-size: 16px;
    }

    .filter-big .filter__reset
    {
        font-size: 16px;
    }



    .brand-items__item
    {
        padding: 20px;
    }

    .brand-items__icon
    {
        width: 60px;
        height: 60px;
        margin-right: 12px;
    }



    .empty-section__text
    {
        font-size: 22px;
    }

    .info-save__btn.btn-bord
    {
        line-height: 42px;
    }

    .info-save__desc
    {
        font-size: 12px;
    }

    .info-save__btns
    {
        margin-top: 10px;
    }


    .products__bord
    {
        padding-top: 40px;
        padding-bottom: 40px;
    }

    .products__bord .products__grid
    {
        margin-top: -16px;
    }

    .sorting_marg
    {
        margin-bottom: 24px;
    }


    .section-stock__grid
    {
        margin-top: -40px;
    }

    .section-stock__item
    {
        margin-top: 40px;
    }

    .section-stock__date
    {
        font-size: 14px;
    }

    .section-stock__name
    {
        font-size: 16px;
    }


    .section-props__table td
    {
        font-size: 13px;

        padding: 9px 19px;
    }

    .section-props__table .section-props__table-name
    {
        font-size: 18px;
    }


    .contacts__wrap
    {
        margin-top: 10px;
    }

    .contacts__wrap-colr
    {
        width: 269px;
    }

    .route-plan
    {
        padding-top: 21px;
        padding-bottom: 13px;
    }

    .route-plan__title
    {
        font-size: 18px;
    }

    .contacts__code img
    {
        width: 145px;
    }

    .contacts__map
    {
        height: 331px;
    }


    .contacts__cols
    {
        margin-top: 24px;
    }

    .contacts__coll
    {
        width: 48.94%;
    }

    .contacts__colr
    {
        width: calc(51.06% - 20px);
    }


    .video::after
    {
        background-size: 66px auto;
    }

    .section-props__table
    {
        margin-top: 16px;
    }


    .contacts__item
    {
        padding-top: 18px;
        padding-bottom: 18px;
    }

    .contacts__item-name
    {
        font-size: 18px;

        width: 138px;
    }

    .contacts__item-val
    {
        padding-bottom: 3px;
    }

    .contacts__item-subtitle
    {
        margin-bottom: 8px;
    }


    .compare-cats__item
    {
        font-size: 13px;
        line-height: 28px;
    }

    .compare-cats__bord
    {
        padding-bottom: 20px;
    }

    .compare-section_marg
    {
        margin-top: 30px;
    }


    .about-payments__title
    {
        font-size: 18px;
    }

    .about-payments__contacts-time
    {
        line-height: 23px;
    }

    .about-payments__contacts-phone a
    {
        line-height: 23px;
    }

    .payments-text h2
    {
        margin-bottom: 5px;
    }


    .payments-methods__item
    {
        padding: 20px;
    }

    .payments-methods__icon
    {
        width: 200px;
        height: 200px;
        padding: 26px;
    }

    .payments-methods__name
    {
        font-size: 18px;

        min-height: 47px;
        margin-top: 30px;
    }

    .about-payments__sticker
    {
        top: -26px;
        left: 20px;

        font-size: 12px;
        line-height: 26px;

        padding: 0 10px;
    }

    .about-payments__cols
    {
        padding-top: 16px;
    }


    .brands__item
    {
        height: 100px;
    }


    .all-brands__item
    {
        min-height: 1px;
        padding: 19px;
    }

    .all-brands__letter
    {
        font-size: 38px;
        line-height: 28px;
    }

    .all-brands__list
    {
        margin-top: 20px;
    }


    .video-banner__img
    {
        height: 536px;
    }

    .video-banner__name
    {
        font-size: 18px;
    }

    .video-banner__time
    {
        font-size: 13px;
    }


    .videos__video-coll
    {
        padding-right: 40px;
    }

    .videos__video-title
    {
        font-size: 18px;
    }

    .videos__video-desc
    {
        margin-top: 10px;
    }

    .videos__video-flex
    {
        padding: 10px;
    }

    .videos__video-arrow
    {
        width: 46px;
        height: 46px;

        background-size: 16px auto;
    }

    .videos__video-info
    {
        max-width: calc(100% - 46px);
        padding: 5px 20px 5px 10px;
    }

    .videos__video-name
    {
        font-size: 13px;
    }

    .videos-name
    {
        font-size: 14px;
    }

    .videos__video-colr
    {
        width: calc(46.44% + 14px);
        margin-left: -14px;
        padding: 18px 0;
    }


    .production-process__flex
    {
        padding: 40px;
    }

    .production-process__coll
    {
        width: calc(45.783% + 8px);
    }

    .production-process__name
    {
        font-size: 18px;
    }

    .production-process__desc
    {
        margin-top: 5px;
    }


    .approach-block__title
    {
        font-size: 18px;
    }

    .approach-block__subtitle
    {
        font-size: 18px;
    }

    .approach-block__list
    {
        font-size: 13px;

        margin: 12px 0 0 20px;
    }

    .btn-bord_icon
    {
        font-size: 14px;
        line-height: 42px;

        padding: 0 28px;
    }


    .reviews__coll
    {
        width: calc(66.2% - 30px);
    }

    .reviews__coll_bord
    {
        padding-bottom: 16px;
    }

    .reviews__colr
    {
        width: calc(33.8% - 30px);
    }

    .comment__name
    {
        font-size: 15px;
    }

    .comment__star
    {
        width: 16px;
        height: 16px;
    }

    .comment__photo
    {
        font-size: 12px;

        width: 44px;
        height: 44px;
        margin-right: 14px;
    }

    .comment__text
    {
        margin-top: 10px;
    }

    .comment__images-img
    {
        max-width: 59px;
    }

    .comment__reply
    {
        font-size: 14px;
    }

    .comment .form
    {
        margin-top: 12px;
    }

    .checkbox-text__text._big
    {
        font-size: 13px;
    }

    .comment_success
    {
        padding-top: 17px;
        padding-bottom: 17px;
    }

    .product-about .wrap-btn
    {
        margin-top: 20px;
    }


    .reviews__rating-star
    {
        width: 16px;
        height: 16px;
    }

    .reviews__rating-star + .reviews__rating-star
    {
        margin-left: 5px;
    }

    .reviews__rating-stats
    {
        font-size: 13px;

        margin-left: 12px;
    }

    .stats-reviews__number
    {
        font-size: 18px;
    }

    .stats-reviews__item-number
    {
        font-size: 15px;
    }

    .stats-reviews__item-val
    {
        font-size: 15px;
    }

    .stats-reviews__item + .stats-reviews__item
    {
        margin-top: 17px;
    }

    .stats-reviews__btn-light
    {
        line-height: 40px;

        margin-top: 22px;
    }


    .main-news__slider._middle .main-news__date
    {
        margin-top: 10px;
    }

    .main-news__slider._middle .main-news__name
    {
        margin-top: 12px;
    }

    .main-news__slider._middle .main-news__desc
    {
        margin-top: 10px;
    }


    .section-gallery .btn-bord
    {
        font-size: 14px;
        line-height: 42px;

        padding: 0 28px;
    }

    .main-news__slider._middle .main-news__date
    {
        font-size: 13px;
    }


    .compare-section__radios .radio__text
    {
        font-size: 13px;
    }


    .about-banner__bg
    {
        min-height: 480px;
    }

    .about-banner__top
    {
        padding-top: 50px;
    }

    .about-banner__top-wrap
    {
        max-width: 667px;
    }

    .about-banner__desc
    {
        max-width: 418px;
        margin-top: 24px;
        padding-right: 65px;
    }


    .about-banner__item
    {
        padding: 14px 15px 19px;
    }

    .about-banner__item-title
    {
        font-size: 15px;
    }


    .about__top-item
    {
        font-size: 13px;

        padding-top: 50px;
        padding-bottom: 40px;
    }

    .about__top-item b
    {
        font-size: 48px;

        margin-bottom: 5px;
    }

    .about__top-title
    {
        max-width: 193px;
        padding-top: 40px;
    }

    .about__top-desc
    {
        font-size: 13px;

        max-width: 380px;
        padding-top: 40px;
    }

    .about__item
    {
        padding-bottom: 19px;
    }

    .about__title
    {
        font-size: 24px;
    }

    .about__desc
    {
        margin-top: 33px;
    }


    .mission__coll
    {
        padding: 30px 30px 40px;
    }

    .mission__title span
    {
        line-height: 27px;
    }

    .mission__name
    {
        font-size: 18px;

        margin-top: 20px;
    }

    .mission__desc
    {
        max-width: 398px;
    }


    .cooperation__big
    {
        margin-top: 24px;
    }


    .founders__coll
    {
        width: 321px;
    }

    .founders__img
    {
        height: 476px;
        min-height: 1px;
    }

    .founders__colr
    {
        width: calc(100% - 336px);
    }

    .founders__item
    {
        padding: 20px 25px;
    }

    .founders__bot
    {
        margin-top: 25px;
    }

    .founders__name
    {
        font-size: 16px;
    }

    .founders__position
    {
        font-size: 13px;

        margin-top: 2px;
    }

    .founders__item + .founders__item
    {
        margin-top: 10px;
    }


    .about-info__bg
    {
        padding-top: 23px;
        padding-bottom: 23px;
    }

    .about-info__title
    {
        font-size: 20px;
    }

    .about-info__name
    {
        font-size: 16px;

        margin-top: 20px;
    }


    .history__dates
    {
        margin-top: 40px;
        padding: 0 51px;
    }

    .history__date
    {
        font-size: 18px;
    }


    .history__slider .swiper-slide
    {
        width: 659px;
        min-height: 334px;
        padding: 23px 30px 0 0;
    }

    .history__title
    {
        font-size: 32px;
    }

    .history__subtitle
    {
        font-size: 18px;

        margin-bottom: 11px;
    }

    .history__slider-date + .history__slider-date
    {
        margin-top: 10px;
    }

    .history__colr
    {
        width: 156px;
    }


    .mission__coll
    {
        background-size: cover;
    }


    .major-projects__name
    {
        font-size: 18px;
    }

    .major-projects__desc
    {
        margin-top: 12px;
    }

    .major-projects__eye
    {
        width: 30px;
        height: 30px;

        border-radius: 5px;
    }

    .major-projects__eye svg
    {
        width: 17px;
        height: 17px;
    }

    .major-projects .btn-bord
    {
        font-size: 14px;
        line-height: 42px;
    }


    .activity-management__item
    {
        padding: 17px 15px;
    }

    .activity-management__icon
    {
        width: 39px;
        height: 39px;
        margin-right: 15px;
        padding: 8px;
    }

    .activity-management__desc
    {
        font-size: 16px;

        margin-top: 11px;
    }

    .about-delivery__map
    {
        height: 336px;
    }


    .inner-reviews__coll
    {
        width: 289px;
    }

    .inner-reviews__coll-number
    {
        font-size: 15px;
    }

    .inner-reviews__coll-stars
    {
        margin-top: 12px;
    }

    .inner-reviews__coll-name
    {
        font-size: 15px;
    }

    .inner-reviews__coll-yandex
    {
        margin-top: 23px;
    }

    .inner-reviews__coll-btn
    {
        font-size: 14px;

        padding: 0 22px;
    }

    .inner-reviews__coll-ratings
    {
        font-size: 13px;

        margin-top: 8px;
    }

    .inner-reviews__name
    {
        font-size: 15px;
    }

    .inner-reviews__item-btns
    {
        margin-top: 24px;
    }

    .inner-reviews__item-bot
    {
        margin-top: 16px;
    }

    .inner-reviews__item
    {
        padding-bottom: 15px;
    }

    .inner-reviews__colr
    {
        width: calc(100% - 319px);
    }


    .socials-section__desc
    {
        max-width: 387px;
        margin-top: 17px;
    }

    .socials-section__socials-flex
    {
        margin: 4px 0 0 -10px;
    }

    .socials-section__socials-item
    {
        width: 30px;
        height: 30px;
        margin: 10px 0 0 10px;
    }

    .about-delivery .select-sort
    {
        width: 224px;
    }


    .product-info__wrap
    {
        gap: 28px 20px;
        grid-template-columns: 53.4% calc(46.6% - 20px);
    }

    .product-info__top
    {
        align-content: center;
        align-items: center;
        flex-wrap: wrap;
        order: 1;

        grid-column: 1 / span 2;
    }

    .product-info__top .page-title
    {
        width: 100%;
        margin-bottom: 15px;
    }

    .product-info__info
    {
        font-size: 14px;

        max-width: calc(100% - 116px);
        margin-left: -20px;
    }

    .product-info__codes
    {
        max-width: none;
        margin-left: 20px;
    }

    .product-info__codes-flex
    {
        margin-left: 3px;
    }

    .product-info__code
    {
        margin-left: 5px;
    }

    .product-info__review-flex
    {
        margin-left: 20px;
    }

    .product-info__availability
    {
        margin-left: 20px;
    }

    .product-info__availability span
    {
        display: inline;
    }

    .product-info__btns
    {
        order: 3;

        margin-left: 30px;
    }

    .product-info__btn
    {
        width: 30px;
        height: 30px;
    }

    .product-info__btn + .product-info__btn
    {
        margin-left: 8px;
    }

    .product-info__images
    {
        order: 2;

        grid-row: auto;
    }

    .product-images
    {
        width: calc(100% - 75px);
    }

    .product-thumbs
    {
        width: 55px;
        height: 463px;
    }

    .product-images__img
    {
        height: 459px;
    }

    .product-info__cols
    {
        order: 3;
    }

    .product-info__colr
    {
        width: 100%;
    }

    .product-info__coll
    {
        order: 2;

        width: 100%;
    }

    .product-info__features
    {
        margin-top: 30px;
    }

    .product-info__table
    {
        padding: 13px 0;
    }

    .product-info__table-item
    {
        font-size: 16px;

        padding-right: 13px;
    }

    .product-info__table-item._active
    {
        padding-top: 9px;
        padding-bottom: 9px;
    }

    .product-info__sales-bot
    {
        margin-top: 20px;
    }

    .product-info__buy
    {
        line-height: 40px;
    }

    .product-info__features-title
    {
        font-size: 15px;
    }

    .product-info__sizes-title
    {
        font-size: 15px;
    }

    .product-info__colors
    {
        margin-top: 2px;
    }

    .product-info__color
    {
        width: calc(100% / 6 - 15px);
    }

    .product-info__sizes-flex
    {
        margin-top: 2px;
    }

    .product-info__feature .features__feature + .features__feature
    {
        margin-top: 15px;
    }

    .product-info__feature .features__feature-name
    {
        width: 41%;
    }

    .mini-modal__modal_text
    {
        width: 438px;
        padding: 16px 20px;
    }

    .tooltip__text
    {
        font-size: 13px;
    }

    .tooltip__text br
    {
        display: none;
    }

    .product-info__more
    {
        font-size: 14px;

        margin-top: 15px;
    }

    .product-info__calculator
    {
        margin-top: 40px;
    }

    .product-info__calculator-bg
    {
        padding-bottom: 23px;
    }

    .form-calculator__input
    {
        font-size: 13px;
    }

    .product-info__more
    {
        margin-top: 20px;
    }

    .product-info__recommend
    {
        margin-top: 40px;
    }

    .product-info__recommend-bg
    {
        padding: 20px;
    }

    .product-info__recommend-title
    {
        font-size: 18px;
    }

    .product-info__recommend .product-info__more
    {
        margin-top: 32px;
    }

    .product-info__recommend-name
    {
        font-size: 16px;
    }

    .product-info__recommend-prices
    {
        margin-left: -16px;
        padding-top: 5px;
    }

    .product-info__recommend-price
    {
        font-size: 18px;

        margin-left: 16px;
    }

    .product-info__recommend-oldprice
    {
        margin-left: 16px;
    }

    .product-info__recommend .product-info__buy
    {
        line-height: 44px;
    }

    .product-info__added-check
    {
        height: 40px;
    }

    .product-info__recommend .product-info__added-check
    {
        height: 44px;
    }


    .modal-service__wrap
    {
        max-width: 1004px;
    }

    .modal-service__top
    {
        padding: 11px 60px 16px;
    }

    .modal-service__cats
    {
        display: block;
        overflow: hidden;

        padding: 0 60px 20px;
    }

    .modal-service__cats-slider
    {
        overflow: visible;
    }

    .modal-service__cats-slider .swiper-scrollbar
    {
        display: block;
    }

    .modal-service__cats .swiper-slide
    {
        width: auto;
    }

    .modal-service__cats-link
    {
        color: rgba(40, 40, 40, .5);
        font-size: 15px;
        font-weight: 500;

        display: block;

        white-space: nowrap;
        text-decoration: none;
    }

    .modal-service__cats-link.active
    {
        color: #282828;
    }

    .modal-service__cols
    {
        padding: 30px 60px;
    }

    .modal-service__coll
    {
        display: none;
    }

    .modal-service__colr
    {
        width: 100%;
    }



    .modal-review__images
    {
        width: calc(100% - 492px);
    }

    .modal-review__images-thumb
    {
        min-height: 541px;
    }

    .modal-review__colr
    {
        width: 492px;
        padding: 49px 40px 49px 30px;
    }

    .modal-review__top
    {
        padding-right: 20px;
    }


    .product-fixed__product
    {
        width: 340px;
    }

    .product-fixed__product-name
    {
        font-size: 12px;
    }

    .product-fixed__review-star
    {
        width: 12px;
        height: 11px;
    }

    .product-fixed__review-number
    {
        font-size: 12px;
    }

    .product-fixed__review-size
    {
        font-size: 12px;
    }

    .product-fixed__price
    {
        font-size: 18px;
    }

    .product-fixed__oldprice
    {
        font-size: 15px;

        margin-left: 16px;
    }

    .product-fixed__wrap
    {
        width: 240px;
    }

    .product-fixed .fast-buy__btn
    {
        font-size: 12px;
    }

    .product-fixed .product-fixed__buy
    {
        font-size: 14px;
        line-height: 40px;
    }

    .product-fixed__added-check
    {
        height: 40px;
    }


    .modal-images__images
    {
        width: calc(100% - 424px);
        padding: 65px 36px;
    }

    .modal-images__thumbs
    {
        order: 2;

        width: 100%;
        height: auto;
        margin-top: 42px;
        padding: 0 19px;
    }

    .modal-images__thumbs::before
    {
        top: 0;
        left: 0;

        width: 19px;
        height: 100%;
    }

    .modal-images__thumbs::after
    {
        top: 0;
        right: 0;
        bottom: auto;
        left: auto;

        width: 19px;
        height: 100%;
    }

    .modal-images__thumbs .slider-button-prev,
    .modal-images__thumbs .slider-button-next
    {
        top: 50%;
        bottom: 0;

        width: 34px;
        height: 34px;
        margin: -17px 0 0 0;
    }

    .modal-images__thumbs .slider-button-prev
    {
        left: 4px;
    }

    .modal-images__thumbs .slider-button-next
    {
        right: 4px;
        left: auto;
    }

    .modal-images__thumbs .slider-button-next svg
    {
        transform: rotate(0);
    }

    .modal-images__thumbs .slider-button-prev svg
    {
        transform: rotate(-180deg);
    }

    .modal-images__slider
    {
        width: 100%;
        margin: 0;
    }

    .modal-images__slider .slider-button-prev,
    .modal-images__slider .slider-button-next
    {
        display: none;
    }

    .modal-images__img
    {
        height: 347px;
        padding: 0;
    }

    .modal-images__img-wrap
    {
        padding: 0;
    }

    .modal-images__info
    {
        width: 424px;
        padding: 25px 38px;
    }

    .modal-images__title
    {
        font-size: 18px;
    }

    .modal-images .product-info__sales
    {
        margin-top: 24px;
    }

    .fancybox__content.modal-images > .carousel__button.is-close
    {
        top: 15px;
        right: 15px;
    }

    .modal-comment__product
    {
        font-size: 15px;

        margin-bottom: 16px;
    }

    .modal-comment__images-img
    {
        width: 76px;
        height: 76px;
    }

    .dropzone-photo__add-flex
    {
        max-width: 227px;
    }

    .modal-success .empty-section__text
    {
        font-size: 18px;

        margin-top: 50px;
    }

    .modal-success .empty-section__desc
    {
        margin-top: 16px;
    }



    .checkout__coll
    {
        width: 100%;
    }

    .checkout-table table td
    {
        font-size: 13px;
    }

    .checkout__colr
    {
        display: flex;
        flex-direction: column;

        width: 100%;
    }

    .checkout-total
    {
        order: 2;

        width: 100%;
        margin-top: 20px;
        padding-right: 30px;
        padding-left: 30px;
    }

    .checkout-total__link
    {
        text-align: center;
    }

    .form-promo
    {
        width: 100%;
        padding-right: 30px;
        padding-left: 30px;
    }

    .checkout-total__top
    {
        justify-content: flex-start;
    }

    .checkout-total__title
    {
        font-size: 18px;
    }

    .checkout-total__number
    {
        font-size: 13px;

        margin-left: 10px;
    }

    .form-promo__title
    {
        font-size: 18px;
    }

    .checkout-payments__title
    {
        font-size: 18px;
    }

    .checkout-delivery__title
    {
        font-size: 18px;
    }

    .btn-green.checkout-total__btn
    {
        line-height: 50px;

        margin-top: 16px;
    }

    .checkout-total__link
    {
        font-size: 14px;
    }


    .delivery__form-title
    {
        font-size: 14px;
    }

    .delivery__form * + .delivery__form-title
    {
        margin-top: 10px;
    }

    .delivery__info .tooltip__icon:before
    {
        top: 0;
    }

    .delivery__info
    {
        margin-bottom: 20px;
    }

    .select-wrap .nice-select .current
    {
        font-size: 13px;
    }

    .modal-point__title
    {
        font-size: 22px;
    }

    .modal-point__subtitle
    {
        font-size: 18px;

        margin-top: 16px;
    }

    .modal-point .modal-search
    {
        margin-top: 12px;
    }

    .modal-point__items
    {
        height: 403px;
        margin-top: 20px;
    }

    .modal-point__coll
    {
        width: calc(44.96% - 20px);
    }

    .transport-company .delivery__form-title
    {
        font-size: 18px;
    }


    .transport-company__table
    {
        margin-top: 20px;
    }


    .lk-info__col
    {
        padding: 15px 15px 20px;
    }

    .lk-info__title
    {
        font-size: 15px;
    }

    .lk-info__change
    {
        font-size: 14px;
        line-height: 1.14;
    }

    .lk-info__item-title
    {
        font-size: 12px;
    }

    .lk-info__points-icon
    {
        font-size: 12px;

        width: 21px;
        height: 21px;
        margin-right: 5px;
    }

    .lk-info__points
    {
        font-size: 13px;
    }

    .lk-info__cart-icon
    {
        width: 21px;
        height: 21px;
        margin-right: 5px;
        padding: 4px;
    }

    .lk-info__cart-number
    {
        padding-top: 2px;
    }

    .lk-info__cart-title
    {
        font-size: 12px;
    }


    .order-active__top
    {
        margin-bottom: 16px;
    }

    .order-active__top-title
    {
        font-size: 22px;
    }

    .order-active__top-link
    {
        font-size: 14px;
        line-height: 1.14;
    }

    .lk-info__cols
    {
        columns: 2;
    }

    .lk-info__info-wrap
    {
        position: relative;

        overflow: hidden;

        height: 179px;
        margin-bottom: -36px;
    }

    .lk-info__info-wrap::before
    {
        content: "";

        position: absolute;
        bottom: 0;
        left: 0;

        width: 100%;
        height: 36px;

        background: linear-gradient(0deg, rgba(255, 255, 255, .95) 0%, #FFF 100%);
    }

    .lk-info__info._show .lk-info__info-wrap
    {
        height: auto;
        margin-bottom: 0;
    }

    .lk-info__info._show .lk-info__info-wrap::before
    {
        display: none;
    }

    .lk-info__info-more
    {
        color: #007657;
        font-size: 12px;
        font-weight: 500;

        display: block;

        width: 100%;
        height: 36px;
        margin-bottom: -20px;

        text-align: center;
    }

    .lk-info__info._show .lk-info__info-more
    {
        display: none;
    }

    .lk-info__info-more span
    {
        position: relative;

        padding-right: 16px;
    }

    .lk-info__info-more svg
    {
        position: absolute;
        top: 50%;
        right: 0;

        display: block;

        width: 10px;
        height: 9px;
        margin-top: -4px;

        fill: currentColor;
    }


    .lk-user__items
    {
        margin-top: 30px;
    }

    .lk-user__form_small
    {
        width: 295px;
    }

    .lk-user__form .form__line_small
    {
        width: 100%;
        margin-right: 0;
        margin-bottom: 10px;
    }

    .lk-user__item-info
    {
        width: 255px;
    }

    .confirm-box
    {
        margin-left: 10px;
    }

    .confirm-box._show
    {
        width: 100%;
        margin: 9px 0 0 0;
    }

    .confirm-box__form
    {
        width: 100%;
    }

    .lk-user__form-cancel
    {
        font-size: 14px;
    }

    .lk-user__password-btn
    {
        font-size: 14px;
    }

    .form-password
    {
        width: 283px;
    }

    .lk-user__items + .lk-user__items
    {
        margin-top: 24px;
    }


    .lk-history__title
    {
        font-size: 22px;
    }


    .lk-history_marg
    {
        margin-top: 30px;
    }

    .lk-history__bg
    {
        padding: 24px;
    }

    .lk-history__table th
    {
        font-size: 14px;

        padding-bottom: 10px;
    }

    .lk-history__table td
    {
        font-size: 13px;

        padding-top: 20px;
        padding-bottom: 20px;
    }

    .lk-history__table td.lk-history__desc
    {
        width: 44%;
    }


    .notification
    {
        padding: 24px 30px;
    }

    .notification__title
    {
        font-size: 14px;
    }

    .notification__subtitle
    {
        font-size: 14px;
    }

    .notification .checkbox-slider__text
    {
        font-size: 14px;
        line-height: 22px;
    }

    .content__order .product__btn
    {
        font-size: 12px;

        width: 100%;
    }

    .content__order_white
    {
        padding-top: 24px;
        padding-bottom: 24px;
    }


    .my-comments
    {
        padding-top: 15px;
    }

    .my-comment
    {
        padding-top: 20px;
    }

    .my-comment + .my-comment
    {
        margin-top: 16px;
    }

    .my-comment__top
    {
        flex-wrap: wrap;
    }

    .my-comment__name
    {
        font-size: 18px;

        order: 2;

        width: 100%;
        margin-top: 17px;
    }

    .my-comment__date
    {
        line-height: 18px;

        margin-left: 0;
    }

    .my-comment__stars
    {
        margin: 0 0 0 24px;
    }

    .my-comment__text
    {
        max-width: 460px;
        margin-top: 14px;
    }

    .my-comment__btns
    {
        margin-left: -10px;
    }

    .my-comment__btn
    {
        font-size: 14px;

        margin-left: 10px;
    }

    .my-comment__answer-open
    {
        font-size: 15px;
    }


    /*------------
		coments
	------------*/


    .download-check__link
    {
        font-size: 14px;
    }


    .footer__colr
    {
        width: 375px;
    }

    .form-subscribe__title
    {
        font-size: 22px;
    }

    .form-subscribe__flex
    {
        margin-top: 16px;
    }

    .form-subscribe .form-subscribe__input
    {
        font-size: 14px;

        padding: 0 9px;
    }

    .form-subscribe__submit
    {
        font-size: 14px;

        width: 121px;
    }

    .footer__coll
    {
        width: 118px;
    }

    .footer__socials
    {
        margin: 10px 0 0 -7px;
    }

    .footer__socials-link
    {
        width: 24px;
        height: 25px;
        margin-left: 7px;
    }

    .footer__contacts
    {
        margin-top: 20px;
    }

    .footer__contacts-item
    {
        display: block;
    }

    .footer__contacts-name
    {
        font-size: 13px;
        line-height: 1.69;

        width: 100%;
        padding: 0;
    }

    .footer__contacts-val
    {
        font-size: 13px;
        line-height: 1.69;

        margin-top: 5px;
    }


    .footer-menu
    {
        width: 386px;
        margin-top: -20px;
    }

    .footer-menu__col
    {
        margin-top: 20px;
    }

    .footer-menu__title
    {
        font-size: 13px;
        line-height: 1.69;
    }

    .footer-menu__list
    {
        margin-top: 12px;
    }

    .footer-menu__item
    {
        font-size: 13px;
        line-height: 1.69;
    }


    .footer__bot
    {
        margin-top: 32px;
    }

    .footer__copy
    {
        font-size: 13px;
    }

    .footer__link
    {
        font-size: 13px;

        margin-left: 13px;
    }

    .banner-cooperation__coll
    {
        padding-bottom: 40px;
        padding-left: 24px;
    }

    .banner-cooperation__title
    {
        font-size: 26px;
    }

    .banner-cooperation__text
    {
        margin-top: 30px;
    }


    .cooperation__coll
    {
        padding-top: 15px;
        padding-bottom: 15px;
    }
}